In [1]:
import csv
import pandas as pd
import numpy as np
from vincenty import vincenty
import datetime

# Import data

In [2]:
rough_df = pd.DataFrame.from_csv('MyEBirdData3.csv', index_col=None)

# Modify dataframe

Add location row

In [3]:
rough_df['Location'] = rough_df.apply(lambda row: (row['Latitude'], row['Longitude']), axis=1)

Remove "sp.", slashes, and hybrids

In [4]:
rough_df = rough_df.loc[
    ~(
        rough_df['Scientific Name'].str.contains('\.')
    ) &
    ~(
        (
            rough_df['Scientific Name'].str.contains('/')
        ) & 
        (
            ~rough_df['Common Name'].str.contains('\(') 
            # Required because some subspecific designations (i.e. those with
            # parentheses in the common name) have slashes in the scientific name
            # (and in the common name!)
            # This isn't perfect because of Traill's and Western species groups
            # (and potentially some others), which is taken care of later.
        )
    ) &
    ~(
        rough_df['Common Name'].str.contains('hybrid')
    )
]

Remove subspecific designations

In [5]:
def remove_subspp(string):
    # Common names sometimes have a parenthetical comment
    # about supspecific designation at the end of the 
    # species name. Returns the first part of the name
    # before the open parenthesis (with ' ' stripped off)
    return string.split('(')[0].strip()

rough_df['Common Name'] = rough_df['Common Name'].apply(remove_subspp)

In [6]:
# Remove those pesky species slashes like Pac-Slope/Cordy (Western)
rough_df = rough_df.loc[~rough_df['Common Name'].str.contains('/')]

Check out the common names we came up with

In [39]:
def show_unique(series):
    '''
    Return a list of the unique
    elements in a series
    '''
    
    all_elements = list(series)
    seen = set()
    seen_add = seen.add
    unique_elements = [x for x in all_elements if not (x in seen or seen_add(x))]

    return unique_elements

In [40]:
show_unique(rough_df['Common Name'])

['Black-bellied Whistling-Duck',
 'Fulvous Whistling-Duck',
 'Snow Goose',
 "Ross's Goose",
 'Greater White-fronted Goose',
 'Brant',
 'Cackling Goose',
 'Canada Goose',
 'Mute Swan',
 'Trumpeter Swan',
 'Tundra Swan',
 'Muscovy Duck',
 'Wood Duck',
 'Blue-winged Teal',
 'Cinnamon Teal',
 'Northern Shoveler',
 'Gadwall',
 'American Wigeon',
 'Mallard',
 'American Black Duck',
 'Mottled Duck',
 'Northern Pintail',
 'Green-winged Teal',
 'Canvasback',
 'Redhead',
 'Ring-necked Duck',
 'Greater Scaup',
 'Lesser Scaup',
 'Common Eider',
 'Harlequin Duck',
 'Surf Scoter',
 'White-winged Scoter',
 'Black Scoter',
 'Long-tailed Duck',
 'Bufflehead',
 'Common Goldeneye',
 "Barrow's Goldeneye",
 'Hooded Merganser',
 'Common Merganser',
 'Red-breasted Merganser',
 'Ruddy Duck',
 'Plain Chachalaca',
 'Northern Bobwhite',
 'Scaled Quail',
 'California Quail',
 "Gambel's Quail",
 'Montezuma Quail',
 'Ring-necked Pheasant',
 'Ruffed Grouse',
 'White-tailed Ptarmigan',
 'Dusky Grouse',
 'Sooty Grouse',
 'Greater Prairie-Chicken',
 'Lesser Prairie-Chicken',
 'Wild Turkey',
 'Red-throated Loon',
 'Pacific Loon',
 'Common Loon',
 'Least Grebe',
 'Pied-billed Grebe',
 'Horned Grebe',
 'Red-necked Grebe',
 'Eared Grebe',
 'Western Grebe',
 "Clark's Grebe",
 "Wilson's Storm-Petrel",
 'Wood Stork',
 'Magnificent Frigatebird',
 'Brown Booby',
 'Northern Gannet',
 "Brandt's Cormorant",
 'Pelagic Cormorant',
 'Neotropic Cormorant',
 'Double-crested Cormorant',
 'Anhinga',
 'American White Pelican',
 'Brown Pelican',
 'American Bittern',
 'Least Bittern',
 'Great Blue Heron',
 'Gray Heron',
 'Great Egret',
 'Snowy Egret',
 'Little Blue Heron',
 'Tricolored Heron',
 'Reddish Egret',
 'Cattle Egret',
 'Green Heron',
 'Black-crowned Night-Heron',
 'Yellow-crowned Night-Heron',
 'White Ibis',
 'Glossy Ibis',
 'White-faced Ibis',
 'Roseate Spoonbill',
 'Black Vulture',
 'Turkey Vulture',
 'Osprey',
 'White-tailed Kite',
 'Golden Eagle',
 'Mississippi Kite',
 'Northern Harrier',
 'Sharp-shinned Hawk',
 "Cooper's Hawk",
 'Northern Goshawk',
 'Bald Eagle',
 "Harris's Hawk",
 'White-tailed Hawk',
 'Gray Hawk',
 'Red-shouldered Hawk',
 'Broad-winged Hawk',
 'Short-tailed Hawk',
 "Swainson's Hawk",
 'Zone-tailed Hawk',
 'Red-tailed Hawk',
 'Rough-legged Hawk',
 'Ferruginous Hawk',
 'Black Rail',
 "Ridgway's Rail",
 'King Rail',
 'Clapper Rail',
 'Virginia Rail',
 'Sora',
 'Common Gallinule',
 'Eurasian Coot',
 'American Coot',
 'Sandhill Crane',
 'Black-necked Stilt',
 'American Avocet',
 'American Oystercatcher',
 'Black Oystercatcher',
 'Black-bellied Plover',
 'American Golden-Plover',
 'Snowy Plover',
 "Wilson's Plover",
 'Semipalmated Plover',
 'Piping Plover',
 'Killdeer',
 'Mountain Plover',
 'Upland Sandpiper',
 'Whimbrel',
 'Long-billed Curlew',
 'Hudsonian Godwit',
 'Marbled Godwit',
 'Ruddy Turnstone',
 'Black Turnstone',
 'Red Knot',
 'Surfbird',
 'Ruff',
 'Stilt Sandpiper',
 'Sanderling',
 'Dunlin',
 "Baird's Sandpiper",
 'Least Sandpiper',
 'White-rumped Sandpiper',
 'Buff-breasted Sandpiper',
 'Pectoral Sandpiper',
 'Semipalmated Sandpiper',
 'Western Sandpiper',
 'Short-billed Dowitcher',
 'Long-billed Dowitcher',
 'American Woodcock',
 "Wilson's Snipe",
 "Wilson's Phalarope",
 'Red-necked Phalarope',
 'Spotted Sandpiper',
 'Solitary Sandpiper',
 'Greater Yellowlegs',
 'Willet',
 'Lesser Yellowlegs',
 'Parasitic Jaeger',
 'Common Murre',
 'Pigeon Guillemot',
 'Marbled Murrelet',
 'Rhinoceros Auklet',
 'Tufted Puffin',
 'Black-legged Kittiwake',
 'Ivory Gull',
 "Sabine's Gull",
 "Bonaparte's Gull",
 'Black-headed Gull',
 'Laughing Gull',
 "Franklin's Gull",
 "Heermann's Gull",
 'Mew Gull',
 'Ring-billed Gull',
 'Western Gull',
 'California Gull',
 'Herring Gull',
 'Iceland Gull',
 'Lesser Black-backed Gull',
 'Glaucous-winged Gull',
 'Glaucous Gull',
 'Great Black-backed Gull',
 'Least Tern',
 'Gull-billed Tern',
 'Caspian Tern',
 'Black Tern',
 'Common Tern',
 "Forster's Tern",
 'Royal Tern',
 'Sandwich Tern',
 'Black Skimmer',
 'Rock Pigeon',
 'White-crowned Pigeon',
 'Band-tailed Pigeon',
 'Eurasian Collared-Dove',
 'Inca Dove',
 'Common Ground-Dove',
 'Key West Quail-Dove',
 'White-tipped Dove',
 'White-winged Dove',
 'Zenaida Dove',
 'Mourning Dove',
 'Smooth-billed Ani',
 'Greater Roadrunner',
 'Yellow-billed Cuckoo',
 'Mangrove Cuckoo',
 'Black-billed Cuckoo',
 'Barn Owl',
 'Eastern Screech-Owl',
 'Whiskered Screech-Owl',
 'Great Horned Owl',
 'Snowy Owl',
 'Northern Pygmy-Owl',
 'Ferruginous Pygmy-Owl',
 'Elf Owl',
 'Burrowing Owl',
 'Spotted Owl',
 'Barred Owl',
 'Long-eared Owl',
 'Short-eared Owl',
 'Northern Saw-whet Owl',
 'Lesser Nighthawk',
 'Common Nighthawk',
 'Common Pauraque',
 'Common Poorwill',
 "Chuck-will's-widow",
 'Eastern Whip-poor-will',
 'Black Swift',
 'Chimney Swift',
 "Vaux's Swift",
 'White-throated Swift',
 "Rivoli's Hummingbird",
 'Plain-capped Starthroat',
 'Blue-throated Hummingbird',
 'Lucifer Hummingbird',
 'Bahama Woodstar',
 'Ruby-throated Hummingbird',
 'Black-chinned Hummingbird',
 "Anna's Hummingbird",
 "Costa's Hummingbird",
 'Broad-tailed Hummingbird',
 'Rufous Hummingbird',
 "Allen's Hummingbird",
 'Calliope Hummingbird',
 'Broad-billed Hummingbird',
 'Buff-bellied Hummingbird',
 'Violet-crowned Hummingbird',
 'Elegant Trogon',
 'Ringed Kingfisher',
 'Belted Kingfisher',
 'Green Kingfisher',
 "Lewis's Woodpecker",
 'Red-headed Woodpecker',
 'Acorn Woodpecker',
 'Gila Woodpecker',
 'Golden-fronted Woodpecker',
 'Red-bellied Woodpecker',
 "Williamson's Sapsucker",
 'Yellow-bellied Sapsucker',
 'Red-naped Sapsucker',
 'Red-breasted Sapsucker',
 'Ladder-backed Woodpecker',
 "Nuttall's Woodpecker",
 'Downy Woodpecker',
 'Hairy Woodpecker',
 'Arizona Woodpecker',
 'Red-cockaded Woodpecker',
 'White-headed Woodpecker',
 'American Three-toed Woodpecker',
 'Northern Flicker',
 'Gilded Flicker',
 'Pileated Woodpecker',
 'Crested Caracara',
 'American Kestrel',
 'Merlin',
 'Aplomado Falcon',
 'Peregrine Falcon',
 'Prairie Falcon',
 'Red-crowned Parrot',
 'Lilac-crowned Parrot',
 'Red-lored Parrot',
 'Green Parakeet',
 'Northern Beardless-Tyrannulet',
 'Olive-sided Flycatcher',
 'Greater Pewee',
 'Western Wood-Pewee',
 'Eastern Wood-Pewee',
 'Cuban Pewee',
 'Yellow-bellied Flycatcher',
 'Acadian Flycatcher',
 'Alder Flycatcher',
 'Willow Flycatcher',
 'Least Flycatcher',
 "Hammond's Flycatcher",
 'Dusky Flycatcher',
 'Pacific-slope Flycatcher',
 'Cordilleran Flycatcher',
 'Black Phoebe',
 'Eastern Phoebe',
 "Say's Phoebe",
 'Vermilion Flycatcher',
 'Dusky-capped Flycatcher',
 'Ash-throated Flycatcher',
 'Great Crested Flycatcher',
 'Brown-crested Flycatcher',
 "La Sagra's Flycatcher",
 'Great Kiskadee',
 'Sulphur-bellied Flycatcher',
 'Piratic Flycatcher',
 'Tropical Kingbird',
 "Couch's Kingbird",
 "Cassin's Kingbird",
 'Thick-billed Kingbird',
 'Western Kingbird',
 'Eastern Kingbird',
 'Scissor-tailed Flycatcher',
 'Loggerhead Shrike',
 'Northern Shrike',
 'White-eyed Vireo',
 'Thick-billed Vireo',
 "Bell's Vireo",
 "Hutton's Vireo",
 'Yellow-throated Vireo',
 "Cassin's Vireo",
 'Blue-headed Vireo',
 'Plumbeous Vireo',
 'Philadelphia Vireo',
 'Warbling Vireo',
 'Red-eyed Vireo',
 'Gray Jay',
 'Green Jay',
 "Steller's Jay",
 'Blue Jay',
 'California Scrub-Jay',
 "Woodhouse's Scrub-Jay",
 'Mexican Jay',
 'Eurasian Magpie',
 'Black-billed Magpie',
 "Clark's Nutcracker",
 'American Crow',
 'Fish Crow',
 'Chihuahuan Raven',
 'Common Raven',
 'Horned Lark',
 'Northern Rough-winged Swallow',
 'Purple Martin',
 'Tree Swallow',
 'Violet-green Swallow',
 'Bank Swallow',
 'Barn Swallow',
 'Cliff Swallow',
 'Cave Swallow',
 'Carolina Chickadee',
 'Black-capped Chickadee',
 'Mountain Chickadee',
 'Mexican Chickadee',
 'Chestnut-backed Chickadee',
 'Bridled Titmouse',
 'Oak Titmouse',
 'Juniper Titmouse',
 'Tufted Titmouse',
 'Black-crested Titmouse',
 'Verdin',
 'Bushtit',
 'Red-breasted Nuthatch',
 'White-breasted Nuthatch',
 'Pygmy Nuthatch',
 'Brown-headed Nuthatch',
 'Brown Creeper',
 'Rock Wren',
 'Canyon Wren',
 'House Wren',
 'Pacific Wren',
 'Winter Wren',
 'Sedge Wren',
 'Marsh Wren',
 'Carolina Wren',
 "Bewick's Wren",
 'Cactus Wren',
 'Blue-gray Gnatcatcher',
 'Black-tailed Gnatcatcher',
 'Black-capped Gnatcatcher',
 'American Dipper',
 'Golden-crowned Kinglet',
 'Ruby-crowned Kinglet',
 'Wrentit',
 'Eastern Bluebird',
 'Western Bluebird',
 'Mountain Bluebird',
 "Townsend's Solitaire",
 'Veery',
 'Gray-cheeked Thrush',
 "Bicknell's Thrush",
 "Swainson's Thrush",
 'Hermit Thrush',
 'Wood Thrush',
 'Clay-colored Thrush',
 'American Robin',
 'Red-legged Thrush',
 'Varied Thrush',
 'Gray Catbird',
 'Curve-billed Thrasher',
 'Brown Thrasher',
 'Long-billed Thrasher',
 "Bendire's Thrasher",
 'Crissal Thrasher',
 'Sage Thrasher',
 'Bahama Mockingbird',
 'Northern Mockingbird',
 'European Starling',
 'White Wagtail',
 'American Pipit',
 "Sprague's Pipit",
 'Cedar Waxwing',
 'Phainopepla',
 'Olive Warbler',
 'Lapland Longspur',
 'Chestnut-collared Longspur',
 "Smith's Longspur",
 "McCown's Longspur",
 'Snow Bunting',
 'Ovenbird',
 'Worm-eating Warbler',
 'Louisiana Waterthrush',
 'Northern Waterthrush',
 'Golden-winged Warbler',
 'Blue-winged Warbler',
 'Black-and-white Warbler',
 'Prothonotary Warbler',
 "Swainson's Warbler",
 'Tennessee Warbler',
 'Orange-crowned Warbler',
 "Lucy's Warbler",
 'Nashville Warbler',
 "Virginia's Warbler",
 "MacGillivray's Warbler",
 'Mourning Warbler',
 'Kentucky Warbler',
 'Common Yellowthroat',
 'Hooded Warbler',
 'American Redstart',
 'Cape May Warbler',
 'Cerulean Warbler',
 'Northern Parula',
 'Magnolia Warbler',
 'Bay-breasted Warbler',
 'Blackburnian Warbler',
 'Yellow Warbler',
 'Chestnut-sided Warbler',
 'Blackpoll Warbler',
 'Black-throated Blue Warbler',
 'Palm Warbler',
 'Pine Warbler',
 'Yellow-rumped Warbler',
 'Yellow-throated Warbler',
 'Prairie Warbler',
 "Grace's Warbler",
 'Black-throated Gray Warbler',
 "Townsend's Warbler",
 'Hermit Warbler',
 'Black-throated Green Warbler',
 'Rufous-capped Warbler',
 'Canada Warbler',
 "Wilson's Warbler",
 'Red-faced Warbler',
 'Painted Redstart',
 'Bananaquit',
 'Black-faced Grassquit',
 'Greater Antillean Bullfinch',
 'Rufous-winged Sparrow',
 "Botteri's Sparrow",
 "Cassin's Sparrow",
 'Grasshopper Sparrow',
 "Henslow's Sparrow",
 "LeConte's Sparrow",
 "Nelson's Sparrow",
 'Saltmarsh Sparrow',
 'Seaside Sparrow',
 'Olive Sparrow',
 'American Tree Sparrow',
 'Chipping Sparrow',
 'Clay-colored Sparrow',
 'Field Sparrow',
 "Brewer's Sparrow",
 'Black-throated Sparrow',
 'Lark Sparrow',
 'Lark Bunting',
 'Fox Sparrow',
 'Dark-eyed Junco',
 'Yellow-eyed Junco',
 'White-crowned Sparrow',
 'Golden-crowned Sparrow',
 "Harris's Sparrow",
 'White-throated Sparrow',
 'Vesper Sparrow',
 'Savannah Sparrow',
 'Song Sparrow',
 "Lincoln's Sparrow",
 'Swamp Sparrow',
 'Canyon Towhee',
 "Abert's Towhee",
 'California Towhee',
 'Rufous-crowned Sparrow',
 'Green-tailed Towhee',
 'Spotted Towhee',
 'Eastern Towhee',
 'Western Spindalis',
 'Yellow-breasted Chat',
 'Hepatic Tanager',
 'Summer Tanager',
 'Scarlet Tanager',
 'Western Tanager',
 'Northern Cardinal',
 'Pyrrhuloxia',
 'Rose-breasted Grosbeak',
 'Black-headed Grosbeak',
 'Blue Grosbeak',
 'Lazuli Bunting',
 'Indigo Bunting',
 'Varied Bunting',
 'Painted Bunting',
 'Dickcissel',
 'Yellow-headed Blackbird',
 'Bobolink',
 'Western Meadowlark',
 'Eastern Meadowlark',
 'Orchard Oriole',
 'Hooded Oriole',
 'Streak-backed Oriole',
 "Bullock's Oriole",
 'Altamira Oriole',
 "Audubon's Oriole",
 'Baltimore Oriole',
 "Scott's Oriole",
 'Red-winged Blackbird',
 'Bronzed Cowbird',
 'Brown-headed Cowbird',
 'Rusty Blackbird',
 "Brewer's Blackbird",
 'Common Grackle',
 'Boat-tailed Grackle',
 'Great-tailed Grackle',
 'Evening Grosbeak',
 'Pine Grosbeak',
 'Gray-crowned Rosy-Finch',
 'Brown-capped Rosy-Finch',
 'House Finch',
 'Purple Finch',
 "Cassin's Finch",
 'Common Redpoll',
 'Hoary Redpoll',
 'Red Crossbill',
 'White-winged Crossbill',
 'Pine Siskin',
 'Lesser Goldfinch',
 'American Goldfinch',
 'House Sparrow',
 'Eurasian Tree Sparrow']

Select the necessary columns

In [8]:
fine_df = rough_df[['Submission ID', 'Common Name', 'Count', 'Location', 'Date']]

Replace Xs with NaNs

In [9]:
fine_df.reset_index(drop=True, inplace=True) # Drop current index (don't incorporate into DF)
df = fine_df.replace(to_replace='X', value=1)
df['Count'] = pd.to_numeric(df['Count']) #Coerce 1s from strs to numeric
df['Date'] = pd.to_datetime(df['Date']).dt.date # Convert to datetime.date

# Identify points around centers

Create list of centers

In [41]:
# Create a list of all unique points to use for our centers
all_points = show_unique(df['Location'])
centers = all_points

Create a dictionary with keys=centers, values=list of all close points

In [11]:
radius_miles = 5

my_dict = {}
centers = all_points
for center in centers:
    close_points = []
    for point in all_points:
        distance = vincenty(center, point, miles=True)
        if distance < radius_miles:
            close_points.append(point)

    my_dict[center] = close_points

# For each center, create collapsed DF of sightings

Select locations based on list of points close to desired center

In [12]:
center_sightings = df[df['Location'].isin(my_dict[(26.137485899999998, -97.1735573)])]
center_sightings

,Submission ID,Common Name,Count,Location,Date
1,S37351021,Black-bellied Whistling-Duck,9,"(26.137485899999998, -97.1735573)",2017-06-03
2,S37374846,Black-bellied Whistling-Duck,4,"(26.140091199999997, -97.1748233)",2017-06-04
3,S37403270,Black-bellied Whistling-Duck,3,"(26.140091199999997, -97.1748233)",2017-06-05
483,S37351021,Blue-winged Teal,1,"(26.137485899999998, -97.1735573)",2017-06-03
857,S37351021,Mottled Duck,11,"(26.137485899999998, -97.1735573)",2017-06-03
858,S37374846,Mottled Duck,9,"(26.140091199999997, -97.1748233)",2017-06-04
859,S37403270,Mottled Duck,2,"(26.140091199999997, -97.1748233)",2017-06-05
955,S17105353,Redhead,2,"(26.0780372, -97.16895509999999)",2014-02-15
956,S17105484,Redhead,3,"(26.0780372, -97.16895509999999)",2014-02-15
957,S17105720,Redhead,3,"(26.0780372, -97.16895509999999)",2014-02-16
1268,S17105484,Red-breasted Merganser,1,"(26.0780372, -97.16895509999999)",2014-02-15
1269,S37374846,Red-breasted Merganser,1,"(26.140091199999997, -97.1748233)",2017-06-04
1501,S37351021,Pied-billed Grebe,3,"(26.137485899999998, -97.1735573)",2017-06-03
1502,S37403270,Pied-billed Grebe,3,"(26.140091199999997, -97.1748233)",2017-06-05
1610,S37403822,Magnificent Frigatebird,1,"(26.108229, -97.16873000000001)",2017-06-05
1611,S37374846,Magnificent Frigatebird,1,"(26.140091199999997, -97.1748233)",2017-06-04
1642,S37351021,Neotropic Cormorant,3,"(26.137485899999998, -97.1735573)",2017-06-03
1643,S37374846,Neotropic Cormorant,2,"(26.140091199999997, -97.1748233)",2017-06-04
1644,S37403270,Neotropic Cormorant,5,"(26.140091199999997, -97.1748233)",2017-06-05
1663,S17105484,Double-crested Cormorant,1,"(26.0780372, -97.16895509999999)",2014-02-15
1664,S17105720,Double-crested Cormorant,5,"(26.0780372, -97.16895509999999)",2014-02-16
1837,S37342818,Brown Pelican,2,"(26.134355, -97.16754399999999)",2017-06-02
1838,S17105353,Brown Pelican,3,"(26.0780372, -97.16895509999999)",2014-02-15
1839,S17105484,Brown Pelican,30,"(26.0780372, -97.16895509999999)",2014-02-15
1840,S17105720,Brown Pelican,1,"(26.0780372, -97.16895509999999)",2014-02-16
1841,S37336796,Brown Pelican,6,"(26.079282, -97.204225)",2017-06-02
1842,S37351021,Brown Pelican,9,"(26.137485899999998, -97.1735573)",2017-06-03
1843,S37374846,Brown Pelican,4,"(26.140091199999997, -97.1748233)",2017-06-04
1844,S37403270,Brown Pelican,3,"(26.140091199999997, -97.1748233)",2017-06-05
1876,S37351021,Least Bittern,5,"(26.137485899999998, -97.1735573)",2017-06-03
...,...,...,...,...,...
6355,S17105353,Belted Kingfisher,1,"(26.0780372, -97.16895509999999)",2014-02-15
8649,S37374846,Philadelphia Vireo,1,"(26.140091199999997, -97.1748233)",2017-06-04
9826,S37374846,Purple Martin,2,"(26.140091199999997, -97.1748233)",2017-06-04
10044,S37351021,Bank Swallow,1,"(26.137485899999998, -97.1735573)",2017-06-03
10097,S37351021,Barn Swallow,6,"(26.137485899999998, -97.1735573)",2017-06-03
10098,S37374846,Barn Swallow,5,"(26.140091199999997, -97.1748233)",2017-06-04
10099,S37403270,Barn Swallow,2,"(26.140091199999997, -97.1748233)",2017-06-05
10387,S37374846,Cave Swallow,2,"(26.140091199999997, -97.1748233)",2017-06-04
10388,S37403270,Cave Swallow,1,"(26.140091199999997, -97.1748233)",2017-06-05
13309,S37374846,Northern Mockingbird,1,"(26.140091199999997, -97.1748233)",2017-06-04
13310,S37403270,Northern Mockingbird,2,"(26.140091199999997, -97.1748233)",2017-06-05
13842,S17105720,Cedar Waxwing,2,"(26.0780372, -97.16895509999999)",2014-02-16
14755,S37374846,Chestnut-sided Warbler,1,"(26.140091199999997, -97.1748233)",2017-06-04
14862,S17105484,Yellow-rumped Warbler,2,"(26.0780372, -97.16895509999999)",2014-02-15
14863,S17105720,Yellow-rumped Warbler,1,"(26.0780372, -97.16895509999999)",2014-02-16
15269,S37374846,Olive Sparrow,1,"(26.140091199999997, -97.1748233)",2017-06-04
17623,S37403270,Hooded Oriole,1,"(26.140091199999997, -97.1748233)",2017-06-05
17643,S37374846,Altamira Oriole,1,"(26.140091199999997, -97.1748233)",2017-06-04
17751,S17105720,Red-winged Blackbird,20,"(26.0780372, -97.16895509999999)",2014-02-16
17753,S37351021,Red-winged Blackbird,10,"(26.137485899999998, -97.1735573)",2017-06-03
17754,S37374846,Red-winged Blackbird,14,"(26.140091199999997, -97.1748233)",2017-06-04
17755,S37403270,Red-winged Blackbird,8,"(26.140091199999997, -97.1748233)",2017-06-05
17979,S37374846,Bronzed Cowbird,1,"(26.140091199999997, -97.1748233)",2017-06-04
18381,S17105484,Great-tailed Grackle,1,"(26.0780372, -97.16895509999999)",2014-02-15
18383,S37351021,Great-tailed Grackle,22,"(26.137485899999998, -97.1735573)",2017-06-03
18384,S37374846,Great-tailed Grackle,26,"(26.140091199999997, -97.1748233)",2017-06-04
18385,S37403270,Great-tailed Grackle,20,"(26.140091199999997, -97.1748233)",2017-06-05
19285,S37351021,House Sparrow,1,"(26.137485899999998, -97.1735573)",2017-06-03
19286,S37374846,House Sparrow,1,"(26.140091199999997, -97.1748233)",2017-06-04
19287,S37403270,House Sparrow,1,"(26.140091199999997, -97.1748233)",2017-06-05

Calculate how many days there are between the desired date and the date of a sighting

In [13]:
def interval_without_year(date1, date2):
    '''
    Returns interval of days between two points regardless of year. 
    For instance, January 1, 2019 and January 4, 1999 are considered 
    3 days apart with this method, no matter which one is provided
    as day1 or day2.'''
    
    delta = date1-date2
    way1 = delta.days % 365
    way2 = 365-way1
    
    if way1 < way2: return way1
    else: return way2

In [14]:
desired_date=datetime.date(year=2019,month=6,day=4)
center_sightings['Interval'] = center_sightings['Date'].apply(interval_without_year, date2=desired_date)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Select only sightings within the desired date range

In [15]:
interval = 7
selected_sightings = center_sightings.loc[center_sightings['Interval'] <= interval]

# Create score

Find number of checklists total

In [56]:
len(checklists)

12

In [44]:
checklists = show_unique(center_sightings['Submission ID'])

Remove species that are already on life list (important that this comes AFTER the checklist total)

In [47]:
with open('lifelist.csv') as f:
    reader = csv.reader(f)
    for line in reader:
        life_list.append(line[0].lower())

#center_sightings = center_sightings.reset_index() #Make common names searchable
missing_sp = center_sightings[~center_sightings['Common Name'].str.lower().isin(life_list)]

For each species, find the number of checklists it was reported on

In [69]:
missing_sp

,Submission ID,Common Name,Count,Location,Date,Interval
483,S37351021,Blue-winged Teal,1,"(26.137485899999998, -97.1735573)",2017-06-03,1
857,S37351021,Mottled Duck,11,"(26.137485899999998, -97.1735573)",2017-06-03,1
858,S37374846,Mottled Duck,9,"(26.140091199999997, -97.1748233)",2017-06-04,0
859,S37403270,Mottled Duck,2,"(26.140091199999997, -97.1748233)",2017-06-05,1
955,S17105353,Redhead,2,"(26.0780372, -97.16895509999999)",2014-02-15,110
956,S17105484,Redhead,3,"(26.0780372, -97.16895509999999)",2014-02-15,110
957,S17105720,Redhead,3,"(26.0780372, -97.16895509999999)",2014-02-16,109
1268,S17105484,Red-breasted Merganser,1,"(26.0780372, -97.16895509999999)",2014-02-15,110
1269,S37374846,Red-breasted Merganser,1,"(26.140091199999997, -97.1748233)",2017-06-04,0
1501,S37351021,Pied-billed Grebe,3,"(26.137485899999998, -97.1735573)",2017-06-03,1
1502,S37403270,Pied-billed Grebe,3,"(26.140091199999997, -97.1748233)",2017-06-05,1
1610,S37403822,Magnificent Frigatebird,1,"(26.108229, -97.16873000000001)",2017-06-05,1
1611,S37374846,Magnificent Frigatebird,1,"(26.140091199999997, -97.1748233)",2017-06-04,0
1642,S37351021,Neotropic Cormorant,3,"(26.137485899999998, -97.1735573)",2017-06-03,1
1643,S37374846,Neotropic Cormorant,2,"(26.140091199999997, -97.1748233)",2017-06-04,0
1644,S37403270,Neotropic Cormorant,5,"(26.140091199999997, -97.1748233)",2017-06-05,1
1663,S17105484,Double-crested Cormorant,1,"(26.0780372, -97.16895509999999)",2014-02-15,110
1664,S17105720,Double-crested Cormorant,5,"(26.0780372, -97.16895509999999)",2014-02-16,109
1837,S37342818,Brown Pelican,2,"(26.134355, -97.16754399999999)",2017-06-02,2
1838,S17105353,Brown Pelican,3,"(26.0780372, -97.16895509999999)",2014-02-15,110
1839,S17105484,Brown Pelican,30,"(26.0780372, -97.16895509999999)",2014-02-15,110
1840,S17105720,Brown Pelican,1,"(26.0780372, -97.16895509999999)",2014-02-16,109
1841,S37336796,Brown Pelican,6,"(26.079282, -97.204225)",2017-06-02,2
1842,S37351021,Brown Pelican,9,"(26.137485899999998, -97.1735573)",2017-06-03,1
1843,S37374846,Brown Pelican,4,"(26.140091199999997, -97.1748233)",2017-06-04,0
1844,S37403270,Brown Pelican,3,"(26.140091199999997, -97.1748233)",2017-06-05,1
1876,S37351021,Least Bittern,5,"(26.137485899999998, -97.1735573)",2017-06-03,1
1898,S17105353,Great Blue Heron,1,"(26.0780372, -97.16895509999999)",2014-02-15,110
1899,S17105720,Great Blue Heron,1,"(26.0780372, -97.16895509999999)",2014-02-16,109
1900,S37351021,Great Blue Heron,5,"(26.137485899999998, -97.1735573)",2017-06-03,1
...,...,...,...,...,...,...
6340,S37374846,Buff-bellied Hummingbird,1,"(26.140091199999997, -97.1748233)",2017-06-04,0
6355,S17105353,Belted Kingfisher,1,"(26.0780372, -97.16895509999999)",2014-02-15,110
8649,S37374846,Philadelphia Vireo,1,"(26.140091199999997, -97.1748233)",2017-06-04,0
9826,S37374846,Purple Martin,2,"(26.140091199999997, -97.1748233)",2017-06-04,0
10044,S37351021,Bank Swallow,1,"(26.137485899999998, -97.1735573)",2017-06-03,1
10097,S37351021,Barn Swallow,6,"(26.137485899999998, -97.1735573)",2017-06-03,1
10098,S37374846,Barn Swallow,5,"(26.140091199999997, -97.1748233)",2017-06-04,0
10099,S37403270,Barn Swallow,2,"(26.140091199999997, -97.1748233)",2017-06-05,1
10387,S37374846,Cave Swallow,2,"(26.140091199999997, -97.1748233)",2017-06-04,0
10388,S37403270,Cave Swallow,1,"(26.140091199999997, -97.1748233)",2017-06-05,1
13309,S37374846,Northern Mockingbird,1,"(26.140091199999997, -97.1748233)",2017-06-04,0
13310,S37403270,Northern Mockingbird,2,"(26.140091199999997, -97.1748233)",2017-06-05,1
13842,S17105720,Cedar Waxwing,2,"(26.0780372, -97.16895509999999)",2014-02-16,109
14755,S37374846,Chestnut-sided Warbler,1,"(26.140091199999997, -97.1748233)",2017-06-04,0
14862,S17105484,Yellow-rumped Warbler,2,"(26.0780372, -97.16895509999999)",2014-02-15,110
14863,S17105720,Yellow-rumped Warbler,1,"(26.0780372, -97.16895509999999)",2014-02-16,109
15269,S37374846,Olive Sparrow,1,"(26.140091199999997, -97.1748233)",2017-06-04,0
17623,S37403270,Hooded Oriole,1,"(26.140091199999997, -97.1748233)",2017-06-05,1
17751,S17105720,Red-winged Blackbird,20,"(26.0780372, -97.16895509999999)",2014-02-16,109
17753,S37351021,Red-winged Blackbird,10,"(26.137485899999998, -97.1735573)",2017-06-03,1
17754,S37374846,Red-winged Blackbird,14,"(26.140091199999997, -97.1748233)",2017-06-04,0
17755,S37403270,Red-winged Blackbird,8,"(26.140091199999997, -97.1748233)",2017-06-05,1
17979,S37374846,Bronzed Cowbird,1,"(26.140091199999997, -97.1748233)",2017-06-04,0
18381,S17105484,Great-tailed Grackle,1,"(26.0780372, -97.16895509999999)",2014-02-15,110
18383,S37351021,Great-tailed Grackle,22,"(26.137485899999998, -97.1735573)",2017-06-03,1
18384,S37374846,Great-tailed Grackle,26,"(26.140091199999997, -97.1748233)",2017-06-04,0
18385,S37403270,Great-tailed Grackle,20,"(26.140091199999997, -97.1748233)",2017-06-05,1
19285,S37351021,House Sparrow,1,"(26.137485899999998, -97.1735573)",2017-06-03,1
19286,S37374846,House Sparrow,1,"(26.140091199999997, -97.1748233)",2017-06-04,0
19287,S37403270,House Sparrow,1,"(26.140091199999997, -97.1748233)",2017-06-05,1

In [65]:
missing_sp['Common Name'].value_counts()

Brown Pelican                 8
Willet                        7
Laughing Gull                 6
Great Blue Heron              5
Reddish Egret                 4
Black-necked Stilt            4
Least Tern                    4
White Ibis                    4
Black-crowned Night-Heron     4
Red-winged Blackbird          4
Snowy Egret                   4
Killdeer                      4
Tricolored Heron              4
Great-tailed Grackle          4
Clapper Rail                  3
Neotropic Cormorant           3
Wilson's Plover               3
White-winged Dove             3
Mottled Duck                  3
Sandwich Tern                 3
Eurasian Collared-Dove        3
Common Gallinule              3
Barn Swallow                  3
Mourning Dove                 3
Osprey                        3
Black Skimmer                 3
Black-bellied Plover          3
Redhead                       3
House Sparrow                 3
Great Egret                   3
                             ..
Common Nighthawk              2
Roseate Spoonbill             2
Semipalmated Plover           2
Little Blue Heron             2
Pied-billed Grebe             2
Yellow-crowned Night-Heron    1
Blue-winged Teal              1
Chestnut-sided Warbler        1
Cattle Egret                  1
Ring-billed Gull              1
Long-billed Curlew            1
Common Tern                   1
Purple Martin                 1
Spotted Sandpiper             1
Iceland Gull                  1
Black-chinned Hummingbird     1
Least Bittern                 1
Cedar Waxwing                 1
Belted Kingfisher             1
Bronzed Cowbird               1
Ruddy Turnstone               1
Bank Swallow                  1
Philadelphia Vireo            1
White-faced Ibis              1
Yellow-billed Cuckoo          1
Gull-billed Tern              1
Hooded Oriole                 1
Buff-bellied Hummingbird      1
Rock Pigeon                   1
Olive Sparrow                 1
Name: Common Name, dtype: int64

In [61]:
sum(missing_sp['Common Name'].value_counts())

172

Make dict of (center, score) : species/percentage dataframe

Sort dict by key[1]

In [16]:
pivoted_df = pivoted_df = selected_sightings.pivot_table(values='Count',
                   columns=['Common Name'],
                   aggfunc=np.sum)

For all centers:
- create this table and combine it:
number of checklists, altamira oriole, american coot, bank swallow, ...,

In [28]:
pivoted_df.set_index('Common Name').T

Common Name,Altamira Oriole,American Coot,Bank Swallow,Barn Swallow,Black Skimmer,Black-bellied Plover,Black-bellied Whistling-Duck,Black-chinned Hummingbird,Black-crowned Night-Heron,Black-necked Stilt,...,Semipalmated Plover,Snowy Egret,Tricolored Heron,White Ibis,White-faced Ibis,White-winged Dove,Willet,Wilson's Plover,Yellow-billed Cuckoo,Yellow-crowned Night-Heron
Count,1,12,1,13,19,1,16,1,3,12,...,20,1,17,19,44,3,27,10,1,1

In [70]:
import collections

In [76]:
my_dict = dict({'center1':1, 'center2':100000, 'center3':5})

In [77]:
collections.OrderedDict(sorted(my_dict.values()))

TypeError: 'int' object is not iterable

# Add statistics about species and center

# Create list of species not on life list

Read species from .csv

In [20]:
import csv
life_list = []

Remove species that are already on life list

                     Common Name  Count
2                   Bank Swallow      1
3                   Barn Swallow     13
4                  Black Skimmer     19
5           Black-bellied Plover      1
6   Black-bellied Whistling-Duck     16
7      Black-chinned Hummingbird      1
8      Black-crowned Night-Heron      3
9             Black-necked Stilt     12
10              Blue-winged Teal      1
11               Bronzed Cowbird      1
12                 Brown Pelican     24
13      Buff-bellied Hummingbird      1
14                  Caspian Tern      2
15                  Cattle Egret      1
16                  Cave Swallow      3
17        Chestnut-sided Warbler      1
18                  Clapper Rail     10
19              Common Gallinule     15
20              Common Nighthawk     39
21                   Common Tern      1
22        Eurasian Collared-Dove      1
23              Great Blue Heron      9
24                   Great Egret      4
25          Great-tailed Grackle     68
26            Greater Yellowlegs      2
27                   Green Heron      9
28              Gull-billed Tern      1
29                 Hooded Oriole      1
30                 House Sparrow      3
31                      Killdeer     11
..                           ...    ...
33                 Least Bittern      5
34                    Least Tern     40
35             Little Blue Heron      3
36       Magnificent Frigatebird      2
37                  Mottled Duck     22
38                 Mourning Dove      8
39           Neotropic Cormorant     10
40          Northern Mockingbird      3
41                 Olive Sparrow      1
42                        Osprey      2
43            Philadelphia Vireo      1
44             Pied-billed Grebe      6
45                 Purple Martin      2
46        Red-breasted Merganser      1
47          Red-winged Blackbird     32
48                 Reddish Egret      8
49                   Rock Pigeon      1
50             Roseate Spoonbill      6
51                    Royal Tern     25
52                 Sandwich Tern     52
53           Semipalmated Plover     20
54                   Snowy Egret      1
55              Tricolored Heron     17
56                    White Ibis     19
57              White-faced Ibis     44
58             White-winged Dove      3
59                        Willet     27
60               Wilson's Plover     10
61          Yellow-billed Cuckoo      1
62    Yellow-crowned Night-Heron      1

[61 rows x 2 columns]

# TODO: add % of time observed for each species, and add # of checklists for each location?