# Number of lines in file

```
data_file = '/Volumes/seagate-storage/code/ebird_data/ebd_relJan-2019.txt'
count = 0
for line in open(data_file): count += 1
```

After this, `count` = 577335302

# Figure out which columns to store

Save:
* `LAST EDITED DATE`
* `CATEGORY`
* `COMMON NAME`
* `OBSERVATION COUNT`
* `COUNTY CODE`
* `LATITUDE`
* `LONGITUDE`
* `OBSERVATION DATE`
* `TIME OBSERVATIONS STARTED`
* `OBSERVER ID`
* `SAMPLING EVENT IDENTIFIER`
* `PROTOCOL TYPE`
* `DURATION MINUTES`
* `NUMBER OBSERVERS`
* `ALL SPECIES REPORTED`

In [3]:
%%bash
head -2 /Volumes/seagate-storage/code/ebird_data/ebd_relJan-2019.txt

GLOBAL UNIQUE IDENTIFIER	LAST EDITED DATE	TAXONOMIC ORDER	CATEGORY	COMMON NAME	SCIENTIFIC NAME	SUBSPECIES COMMON NAME	SUBSPECIES SCIENTIFIC NAME	OBSERVATION COUNT	BREEDING BIRD ATLAS CODE	BREEDING BIRD ATLAS CATEGORY	AGE/SEX	COUNTRY	COUNTRY CODE	STATE	STATE CODE	COUNTY	COUNTY CODE	IBA CODE	BCR CODE	USFWS CODE	ATLAS BLOCK	LOCALITY	LOCALITY ID	 LOCALITY TYPE	LATITUDE	LONGITUDE	OBSERVATION DATE	TIME OBSERVATIONS STARTED	OBSERVER ID	SAMPLING EVENT IDENTIFIER	PROTOCOL TYPE	PROTOCOL CODE	PROJECT CODE	DURATION MINUTES	EFFORT DISTANCE KM	EFFORT AREA HA	NUMBER OBSERVERS	ALL SPECIES REPORTED	GROUP IDENTIFIER	HAS MEDIA	APPROVED	REVIEWED	REASON	TRIP COMMENTS	SPECIES COMMENTS
URN:CornellLabOfOrnithology:EBIRD:OBS34169564	2014-10-16 08:19:55	6171	species	Bonaparte's Gull	Chroicocephalus philadelphia			6				Canada	CA	Quebec	CA-QC	Nicolet-Yamaska	CA-QC-NY					Port St-François	L352699	P	46.2722222	-72.6111111	2006-10-14	10:00:00	obsr31597	S2495584	Traveling	P22	EBIRD_CAN	60	1		1	0		0	1	0		Terns are late!

In text format:

```
GLOBAL UNIQUE IDENTIFIER	                    LAST EDITED DATE	        TAXONOMIC ORDER	    CATEGORY	    COMMON NAME	        SCIENTIFIC NAME	               SUBSPECIES COMMON NAME	SUBSPECIES SCIENTIFIC NAME	OBSERVATION COUNT	BREEDING BIRD ATLAS CODE	BREEDING BIRD ATLAS CATEGORY	AGE/SEX	COUNTRY	COUNTRY CODE	STATE	STATE CODE	COUNTY	            COUNTY CODE	IBA CODE	BCR CODE	USFWS CODE	ATLAS BLOCK	LOCALITY	        LOCALITY ID	LOCALITY TYPE	LATITUDE	LONGITUDE	OBSERVATION DATE	TIME OBSERVATIONS STARTED	OBSERVER ID	SAMPLING EVENT IDENTIFIER	PROTOCOL TYPE	PROTOCOL CODE	PROJECT CODE	DURATION MINUTES	EFFORT DISTANCE KM	EFFORT AREA HA	NUMBER OBSERVERS	ALL SPECIES REPORTED	GROUP IDENTIFIER	HAS MEDIA	APPROVED	REVIEWED	REASON	TRIP COMMENTS	SPECIES COMMENTS
URN:CornellLabOfOrnithology:EBIRD:OBS34169564	2014-10-16 08:19:55	        6171	            species	        Bonaparte's Gull	Chroicocephalus philadelphia		                    	                        6	                	                        	                        	        Canada	CA	            Quebec	CA-QC	     Nicolet-Yamaska	CA-QC-NY		        	        	        	        Port St-François	L352699	    P	            46.2722222	-72.6111111	2006-10-14	         10:00:00	                obsr31597	S2495584	                Traveling	    P22	            EBIRD_CAN	    60	                1	                	            1	                0	                    	                0	        1	        0	        	    Terns are late!	
```

# Store entire ebird database

In [4]:
import pandas as pd
from time import time
from sqlalchemy import create_engine, MetaData
from sqlalchemy_utils import database_exists, create_database
from functools import wraps

### List of columns for each type of database

In [5]:
'''
desired_cols_comprehensive = [
    'LAST EDITED DATE', #For telling whether or not the observation was submitted in 2018
    'CATEGORY', #Species or no? (not sure how others are represented)
    'COMMON NAME', 
    'OBSERVATION COUNT', #Number of individuals seen--or X'd (not sure how represented)
    'STATE CODE', #Something like US-PA-AL. Not sure if every obs has a county...
    'LATITUDE',
    'LONGITUDE',
    'OBSERVATION DATE',
    'TIME OBSERVATIONS STARTED',
    'OBSERVER ID',
    'SAMPLING EVENT IDENTIFIER', #The checklist itself... Not sure if there are anything besides S_____ formatted labels, and what the difference is from global unique identifier (maybe the latter is for the single species obs)
    'PROTOCOL TYPE', #Traveling... or something else? Not sure what else is out there
    'DURATION MINUTES', #To see if it has both a start and end time
    'NUMBER OBSERVERS', #Not sure if each observer's list is counted as a separate observation, or if only the originally submitting observer's is included
    'ALL SPECIES REPORTED',
]
'''
# A subset of desired_cols_comprehensive; pared down for speed
desired_cols_chaser = {
    'CATEGORY':'str', #Species or no? (not sure how others are represented)
    'COMMON NAME':'str',
    'OBSERVATION COUNT':'str', #Number of individuals seen--or X'd (not sure how represented)
    'STATE CODE':'str', #Something like US-PA-AL. Not sure if every obs has a county...
    'LATITUDE':'str',
    'LONGITUDE':'str',
    'OBSERVATION DATE':'str',
    'SAMPLING EVENT IDENTIFIER':'str', #The checklist itself... Not sure if there are anything besides S_____ formatted labels, and what the difference is from global unique identifier (maybe the latter is for the single species obs)
}

### Variables for `pd.read_csv` call:

In [11]:
# File to read from
data_file = '/Volumes/seagate-storage/code/ebird_data/ebd_relJan-2019.txt'

# Which columns to use
desired_cols = desired_cols_chaser
                          
# Of columns, which are dates?
date_cols = ['OBSERVATION DATE']

In [7]:
# Chunk size to read through data_file
chunk_size = 10000

### Variables for `pd.to_sql` call:

In [8]:
# Desired path for SQLITE db; if does not exist, will be created
engine_path = "/Volumes/seagate-storage/db/ebird.db"

# Name of SQL table
table_name = '20180329'

### Other variables

In [9]:
# How many chunks to print after
X = 5000

### Finally, save to database:

In [12]:
def process_data(
    engine_path,
    data_path,
    desired_cols,
    date_cols,
    chunk_size,
    table_name,
    X,
    delete_old_table = True
):
    t0 = time()
    
    engine = create_engine('sqlite:///' + engine_path)
    # If database doesn't already exist, make a new engine
    if not database_exists(engine.url):
        create_database(engine.url)
    # Otherwise, make sure the engine is clear
    # Note that it's MUCH faster to delete this from filesystem directly
    elif delete_old_table:
        meta = MetaData(engine)
        meta.reflect() # Find all tables
        # Only drop the table we're trying to refill
        for tbl in reversed(meta.sorted_tables):
            if tbl.name == table_name:
                engine.execute(tbl.delete())
                print(f'Dropped table {table_name}')
        
    t1 = time()
    
    lines_saved_to_db = 0
    counter = 0

    for chunk in pd.read_csv(
        filepath_or_buffer = data_path, 
        sep = '\t',
        usecols = desired_cols.keys(),
        parse_dates = date_cols, 
        chunksize = chunk_size,
        dtype = desired_cols,
        na_values = ['X']
    ):

        chunk.to_sql(
            name = table_name,
            con = engine,
            if_exists = 'append'
        )

        # Print info every X iterations
        # i.e., every chunk_size * X lines
        lines_saved_to_db += chunk.shape[0]
        if (not counter % X):
            print(f"Iteration {counter}:")
            print(f"  Lines saved to DB: {lines_saved_to_db}") #Helpful for only saving year data
            print(f"  Minutes elapsed: {(time()-t1)/60}\n")
        counter += 1

    db_time = (time()-t1)/60
    total_time = (time()-t0)/60
    estimated_time = ((total_time-db_time) +  (577335302/lines_saved_to_db)*db_time)/60
    print(f"Total iterations: {counter}")
    print(f"Total lines saved to DB: {lines_saved_to_db}") #Helpful for only saving year data
    print(f"Minutes elapsed during DB functions: {db_time}")
    print(f"Total minutes elapsed: {total_time}")
    print(f"Estimated time for all lines: {estimated_time} hours")
    return engine
            
engine = process_data(
    engine_path,
    data_file,
    desired_cols,
    date_cols,
    chunk_size,
    table_name,
    X
)

Iteration 0:
  Lines saved to DB: 10000
  Minutes elapsed: 0.009690447648366293

Iteration 5000:
  Lines saved to DB: 50010000
  Minutes elapsed: 18.879338264465332

Iteration 10000:
  Lines saved to DB: 100010000
  Minutes elapsed: 44.32478020191193

Iteration 15000:
  Lines saved to DB: 150010000
  Minutes elapsed: 62.60856884717941

Iteration 20000:
  Lines saved to DB: 200010000
  Minutes elapsed: 80.8412572145462

Iteration 25000:
  Lines saved to DB: 250010000
  Minutes elapsed: 98.16712503433227

Iteration 30000:
  Lines saved to DB: 300010000
  Minutes elapsed: 115.19377500216166

Iteration 35000:
  Lines saved to DB: 350010000
  Minutes elapsed: 132.49426699876784

Iteration 40000:
  Lines saved to DB: 400010000
  Minutes elapsed: 150.45156251589458

Iteration 45000:
  Lines saved to DB: 450010000
  Minutes elapsed: 167.80280270179114

Iteration 50000:
  Lines saved to DB: 500010000
  Minutes elapsed: 185.08012558619183

Iteration 55000:
  Lines saved to DB: 550010000
  Minutes elapsed: 202.18646633227667

Total iterations: 57734
Total lines saved to DB: 577335301
Minutes elapsed during DB functions: 212.54126666784288
Total minutes elapsed: 212.5414152344068
Estimated time for all lines: 3.542356926709144 hours

# Try chaser on subset

In [11]:
import csv
import pandas as pd
import numpy as np
from geopy.distance import vincenty
import datetime
import collections
import math

Done below:
```
show_unique(series)
identify_centers(df, radius_miles=5)
select_loc_df(df, my_dict, center)
select_date_df(df, month, day, interval=4)
calculate_score(df)
interval_without_year(date1, date2)
analyze_data(
    df,
    lifelist_path,
    month,
    day,
    radius_miles)
def import_data(
    engine_path,
    table_name)
```

In [20]:
def show_unique(series):
    '''
    Return a list of the unique elements in a pandas series
    '''
    
    all_elements = list(series)
    seen = set()
    seen_add = seen.add
    unique_elements = [x for x in all_elements if not (x in seen or seen_add(x))]

    return unique_elements

In [31]:
def identify_centers(df, radius_miles = 5):
    '''
    Create a dictionary where the
        keys = centers,
        values = list of points within the desired radius
    '''
    
    # Create a list of all unique points to use for our centers
    all_points = show_unique(df['LOCATION'])
    centers = all_points #TODO: create a more efficient center-finding algo

    my_dict = {}
    centers = all_points
    for center in centers:
        close_points = []
        for point in all_points:
            try:
                distance = vincenty(center, point, miles=True)
            except ValueError: #ValueError: Vincenty formula failed to converge!
                distance = np.NaN
            if distance < radius_miles:
                close_points.append(point)

        my_dict[center] = close_points
        
    return my_dict

In [22]:
def select_loc_df(df, my_dict, center): 
    '''
    Select relevant sightings by location
    
    For a single center (key), return a DF with only:
    - sightings from locations in the desired radius (value) 
    - sightings from a desired date range
    
    Inputs:
        df: the full dataframe to select sightings from
        my_dict: the dictionary associating centers with lists
            of points within the radius
        center: the specific dictionary key to use
    
    '''

    # Select only locations corresponding to radius around the center
    return df[df['LOCATION'].isin(my_dict[center])]

In [23]:
def select_date_df(df, month, day, interval=4): 
    '''
    Select relevant sightings by date
    
    For a single center (key), return a DF with only sightings from a desired date range
    
    Inputs:
        df: the full dataframe to select sightings from
        month, day: the date to center a date range around
        interval: the number of days before & after the specified
            date to include sightings from
    
    '''
    
    # Select only locations within date range
    desired_date=datetime.date(2019, month, day) #2019 is a placeholder year

    df['INTERVAL'] = df['OBSERVATION DATE'].apply(interval_without_year, date2=desired_date)
    selected_sightings = df.loc[df['INTERVAL'] <= interval]
    
     
    return selected_sightings

In [67]:
def calculate_score_total_spp(df):
    '''
    Calculate score of DF based on # species
    
    Calculate score of a DF solely by how many
    unique species are in the 'COMMON NAME' column.
    
    Inputs:
        df: a dataframe with a column 'COMMON NAME'. This df should
        contain one column for each individual observation of a species.
        
    Returns: 
    '''
    
    # Create DF associating common name with count of lists
    #(to maintain compliance with other scoring functions)
    collapsed_df = df['COMMON NAME'].value_counts()
    
    # Calculate true score
    score = len(show_unique(df['COMMON NAME']))
    
    return score, collapsed_df

In [68]:
def calculate_score_num_lists(df):

    '''
    Calculate score of DF based on # lists
    
    Calculate the score of a DF by finding
    the number of checklists on which a species was reported.
    This could be modified to be more sophisticated in the future.
    
    Inputs:
        df: a dataframe with a column 'COMMON NAME'. This df should
            contain one column for each individual observation of a species.
    
    Outputs:
        the sum of the number of checklists each species
        appeared on--which is identical to df.shape[0]
    '''
    
    # Create DF associating common name with count of lists
    collapsed_df = df['COMMON NAME'].value_counts()
    
    # Calculate true score
    score = sum(collapsed_df)
    
    return score, collapsed_df

In [25]:
def interval_without_year(date1, date2):
    '''
    Return number of days between two dates
    
    Returns interval of days between two dates regardless of year. 
    For instance, January 1, 2019 and January 4, 1999 are considered 
    3 days apart with this method, no matter which one is provided
    as day1 or day2.
    
    This function may be imperfect WRT leap years.
    
    Inputs:
        date1, date2: datetime.date objects
        
    Returns:
        number of days between them on calendar (regardless of year)
    
    '''
    date1 = date1.date()
    delta = date1-date2
    way1 = delta.days % 365
    way2 = 365-way1
    
    if way1 < way2: return way1
    else: return way2

In [111]:
def analyze_data(
    df,
    lifelist_path,
    month,
    day,
    padding,
    radius_miles,
    scoring_method = 'total' #or 'lists'
):
    '''
    Find best area for a given month, day, and radius
    
    Inputs
        df: dataframe of eBird observations generated by import_data
        lifelist_path: path to .csv of life list file. Species should be in format:
            'Black-bellied Whistling-Duck - Dendrocygna autumnalis' (without quotes)
        month: numerical month of 'center date' around which to search for hotspots
        day: numerical day of 'center date' around which to search for hotspots
        padding: how many days before and after the 'center date' the observations should include
        radius_miles: how large of a radius do you want to search within
        scoring_method: how to score hotspots
            total: just based on the total number of species
            lists: based on how many lists each lifer appeared
        
    Returns (all_dfs, all_scores)
        all_dfs: a dataframe for every center
        all_scores: a score for every center
    '''
    
    # Generate list of lifers from .csv file
    life_list = []
    with open(lifelist_path) as f:
        reader = csv.reader(f)
        
        # Handle different eBird life list formats
        next(reader) # Skip line 0, the header
        test_bird = next(reader)[1]
        f.seek(1) # Go back to line 1, the first data row
        # For scientific names
        if ' - ' in test_bird:
            for line in reader:
                bird = ' '.join(line[1].split()[:-3])
                life_list.append(str(bird).lower()) 
                
        # For no scientific names:
        else:
            for line in reader:
                bird = line[1]
                life_list.append(str(bird).lower()) 
        
        

    # Remove species that are already on one's life list
    df = df[~df['COMMON NAME'].str.lower().isin(life_list)]
    
    
    # Remove checklists from outside of this date range
    df = select_date_df(df, month, day, interval=4)
    
    
    # Identify a dict of centers
    my_dict = identify_centers(df, radius_miles)
    
    
    # For each center, generate a relevant DF and calculate its score
    all_dfs = {}
    all_scores = {}
    for center in my_dict.keys():
        
        # Select only locations within radius
        selected_df = select_loc_df(df, my_dict, center)
        
        # Calculate score and 'collapsed DF', which is a dataframe
        # associating each species with the number of checklists it appeared on
        if scoring_method == 'lists':
            score, collapsed_df = calculate_score_num_lists(selected_df)
        else:
            score, collapsed_df = calculate_score_total_spp(selected_df)
        
        # Create dictionaries associating centers with their scores & collapsed dfs
        all_scores[center] = score
        all_dfs[center] = collapsed_df
        
    
    return (all_dfs, all_scores)

In [100]:
def import_data(
    engine_path,
    table_name,
):
    '''
    Import and clean dataset from database.
    
    Import a dataset from a database. Add a location column and remove
    extraneous records (spuhs, slashes, hybrids, domestics) from dataset.
    
    Inputs
        engine_path: path to db location, e.g. '/Volumes/storage/data.db'
        table_name: the name of the table in this database, e.g. 'usa_only'
        
    Returns
        a rough database
    '''
    
    # Import data
    engine = create_engine('sqlite:///' + engine_path)
    rough_df = pd.read_sql(table_name, con = engine)
    
    # Add location column
    rough_df['LOCATION'] = rough_df.apply(lambda row: (row['LATITUDE'], row['LONGITUDE']), axis=1)
    
    # Remove spuhs, slashes, domestics, and hybrids to leave only species, issf, and form
    return rough_df[~rough_df['CATEGORY'].isin(['spuh', 'domestic', 'slash', 'hybrid'])]

In [90]:
def chaser(
    engine_path,
    table_name,
    lifelist_filename,
    month,
    day,
    padding,
    num_spots,
    radius_miles,
    scoring_method = 'total' #or 'lists'
):
    
    '''
    Find the best places to go for your life list
    
    Inputs
        engine_path: path to database of all observations, e.g. '/Volumes/storage/all_data.db'
        table_name: name of relevant table within database, e.g. 'usa_only_table'
        lifelist_filename: path to .csv file containing a single column
            All species must be in format: 'Black-bellied Whistling-Duck - Dendrocygna autumnalis'
            To create a file like this, download your life list, then copy and paste the 'Species'
            column into a new .csv. Do not include the 'species' header (though it won't make a difference).
            Life list can be downloaded at https://ebird.org/MyEBird?cmd=lifeList&listType=world&listCategory=default&time=life
        month: numerical month in which to search for lifer spots
        day: numerical day around which to search for lifer spots
        padding: number of days before and after month/day to search for lifer spots
        num_spots: number of top spots to show
        radius_miles: miles within which you are willing to bird
    '''
    
    
    # Get DF of data
    my_df = import_data(engine_path, table_name)
    
    # Only look for places in the USA (#ABAcentrism)
    my_df = my_df[(my_df['STATE CODE'].str.contains('US-')) & (~my_df['STATE CODE'].str.contains('US-HI'))]

    # Get dict of dfs of highest-scoring spots
    dfs, scores = analyze_data(
        df = my_df,
        lifelist_path = lifelist_filename, 
        month = month,
        day = day,
        padding = padding,
        radius_miles = radius_miles,
        scoring_method = scoring_method)


    # Sort by scores
    #sorted_d = sorted(((value, key) for (key,value) in scores.items()), reverse=True)
    
    # Sort by number of targets
    sorted_d = sorted(((value, key) for (key,value) in scores.items()), reverse=True)

    if len(sorted_d) < num_spots:
        num_to_show = len(sorted_d)
    else:
        num_to_show = num_spots

    for i in range(num_to_show):
        center =  sorted_d[i][1]

        # Identify most common targets
        center_df = dfs[center]
        top_10percent = math.ceil(.1 * center_df.size)
        targets = list(center_df.reset_index()['index'][0:])

        print('Top spot {}:'.format(i+1), center)
        print('Number possible targets:', len(targets))
        print('Most common targets:', targets)
        print('')
    
    return scores

In [ ]:
engine_path = "/Volumes/seagate-storage/db/ebird_small.db"
table_name = 'ebird_small_20190328'
lifelist_filename = 'lifelist.csv'
month = 8
day = 20
padding = 4
num_spots = 5
radius_miles = 100

my_scores = chaser(
    engine_path,
    table_name,
    lifelist_filename,
    month,
    day,
    padding,
    num_spots,
    radius_miles
)

# All days, T

In [112]:
engine_path = "/Volumes/seagate-storage/db/ebird_small.db"
table_name = 'ebird_small_20190328'
lifelist_filename = 'tessa-lifelist.csv'
month = 7
day = 2
padding = 184
num_spots = 5
radius_miles = 100

tessa_scores_all = chaser(
    engine_path,
    table_name,
    lifelist_filename,
    month,
    day,
    padding,
    num_spots,
    radius_miles
)

tessa_scores_all

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.

Top spot 1: ('32.2212741', '-110.9281611')
Number possible targets: 21
Most common targets: ['Rufous-winged Sparrow', 'Mexican Whip-poor-will', "Botteri's Sparrow", 'Common Poorwill', 'Ladder-backed Woodpecker', 'Bridled Titmouse', "Cassin's Sparrow", 'Whiskered Screech-Owl', 'Greater Roadrunner', "Lucy's Warbler", "Scott's Oriole", "Abert's Towhee", 'Canyon Towhee', 'Black-throated Sparrow', 'Elf Owl', 'Phainopepla', 'Black-chinned Hummingbird', 'Cactus Wren', 'Arizona Woodpecker', 'Varied Bunting', 'Broad-billed Hummingbird']

Top spot 2: ('31.7310142', '-110.881319')
Number possible targets: 21
Most common targets: ['Rufous-winged Sparrow', 'Mexican Whip-poor-will', "Botteri's Sparrow", 'Common Poorwill', 'Ladder-backed Woodpecker', 'Bridled Titmouse', "Cassin's Sparrow", 'Whiskered Screech-Owl', 'Greater Roadrunner', "Lucy's Warbler", "Scott's Oriole", "Abert's Towhee", 'Canyon Towhee', 'Black-throated Sparrow', 'Elf Owl', 'Phainopepla', 'Black-chinned Hummingbird', 'Cactus Wren', 'Arizona Woodpecker', 'Varied Bunting', 'Broad-billed Hummingbird']

Top spot 3: ('31.7177294', '-110.1869364')
Number possible targets: 21
Most common targets: ['Rufous-winged Sparrow', 'Mexican Whip-poor-will', "Botteri's Sparrow", 'Common Poorwill', 'Ladder-backed Woodpecker', 'Bridled Titmouse', "Cassin's Sparrow", 'Whiskered Screech-Owl', 'Greater Roadrunner', "Lucy's Warbler", "Scott's Oriole", "Abert's Towhee", 'Canyon Towhee', 'Black-throated Sparrow', 'Elf Owl', 'Phainopepla', 'Black-chinned Hummingbird', 'Cactus Wren', 'Arizona Woodpecker', 'Varied Bunting', 'Broad-billed Hummingbird']

Top spot 4: ('31.6445404', '-110.5958462')
Number possible targets: 21
Most common targets: ['Rufous-winged Sparrow', 'Mexican Whip-poor-will', "Botteri's Sparrow", 'Common Poorwill', 'Ladder-backed Woodpecker', 'Bridled Titmouse', "Cassin's Sparrow", 'Whiskered Screech-Owl', 'Greater Roadrunner', "Lucy's Warbler", "Scott's Oriole", "Abert's Towhee", 'Canyon Towhee', 'Black-throated Sparrow', 'Elf Owl', 'Phainopepla', 'Black-chinned Hummingbird', 'Cactus Wren', 'Arizona Woodpecker', 'Varied Bunting', 'Broad-billed Hummingbird']

Top spot 5: ('31.3401517', '-110.9294492')
Number possible targets: 21
Most common targets: ['Rufous-winged Sparrow', 'Mexican Whip-poor-will', "Botteri's Sparrow", 'Common Poorwill', 'Ladder-backed Woodpecker', 'Bridled Titmouse', "Cassin's Sparrow", 'Whiskered Screech-Owl', 'Greater Roadrunner', "Lucy's Warbler", "Scott's Oriole", "Abert's Towhee", 'Canyon Towhee', 'Black-throated Sparrow', 'Elf Owl', 'Phainopepla', 'Black-chinned Hummingbird', 'Cactus Wren', 'Arizona Woodpecker', 'Varied Bunting', 'Broad-billed Hummingbird']

{('44.5660126', '-67.056427'): 10,
 ('42.0839551', '-70.0490427'): 8,
 ('42.687714', '-70.6204365'): 7,
 ('60.3413913', '-147.1028137'): 6,
 ('42.6251904', '-70.3616729'): 8,
 ('35.1678', '-120.69428'): 1,
 ('52.0503333', '178.3339833'): 2,
 ('43.8982326', '-69.4348598'): 2,
 ('36.314222', '-121.8902827'): 1,
 ('39.4727008', '-123.8042021'): 3,
 ('58.3287533', '-134.6187401'): 4,
 ('44.6156447', '-124.0665436'): 7,
 ('57.4212944', '-150.1391602'): 1,
 ('70.1355399', '-143.54774'): 7,
 ('48.5922568', '-123.0304022'): 6,
 ('70.3123202', '-148.3125114'): 11,
 ('59.6359965', '-151.5139532'): 4,
 ('42.992209', '-70.7073972'): 7,
 ('32.429324', '-80.1469607'): 1,
 ('38.3044865', '-75.1076889'): 4,
 ('56.6521699', '-132.9288646'): 3,
 ('30.2091599', '-88.9791107'): 4,
 ('57.4991259', '-135.2492523'): 2,
 ('59.9210867', '-148.0890083'): 6,
 ('24.545713', '-81.8121761'): 4,
 ('56.0135866', '-132.6815102'): 3,
 ('59.5253333', '-178.4236667'): 6,
 ('45.103577', '-67.1306705'): 10,
 ('57.2020384', '-153.3068275'): 1,
 ('41.3014861', '-72.1119044'): 3,
 ('47.661963', '-122.435841'): 5,
 ('41.4759174', '-82.1756744'): 1,
 ('39.4088845', '-123.810854'): 3,
 ('44.2111184', '-68.718313'): 2,
 ('31.0706164', '-93.2111835'): 1,
 ('44.3478561', '-121.7310423'): 4,
 ('48.7068637', '-113.8018545'): 2,
 ('30.8773', '-98.438'): 6,
 ('71.3870157', '-156.4774776'): 7,
 ('26.5498192', '-99.1661596'): 12,
 ('39.8020431', '-105.513382'): 11,
 ('37.8089702', '-119.5661831'): 6,
 ('46.2529981', '-121.5115356'): 4,
 ('36.8171698', '-111.6301489'): 2,
 ('48.602636', '-102.4386493'): 9,
 ('48.3446698', '-122.6696062'): 12,
 ('31.7310142', '-110.881319'): 21,
 ('46.0625', '-93.05112'): 2,
 ('41.7141347', '-121.5111723'): 12,
 ('38.586068', '-107.696981'): 1,
 ('27.0446212', '-99.4444013'): 12,
 ('40.8429942', '-72.4762005'): 3,
 ('39.4607765', '-121.2835395'): 1,
 ('33.7780824', '-117.7605691'): 7,
 ('48.5261266', '-121.4272928'): 11,
 ('33.8291074', '-108.6266541'): 2,
 ('44.0893', '-123.2945'): 8,
 ('33.0364889', '-96.6640522'): 1,
 ('30.1041849', '-98.8038898'): 6,
 ('40.9484721', '-111.8752277'): 1,
 ('36.7141014', '-112.2166944'): 2,
 ('55.9226622', '-130.0332785'): 1,
 ('33.4352651', '-111.9057083'): 1,
 ('29.4241295', '-98.4935913'): 5,
 ('30.4112444', '-81.4206594'): 2,
 ('36.0667407', '-114.807204'): 3,
 ('44.3356036', '-111.4671439'): 2,
 ('41.78981', '-69.98976'): 7,
 ('27.8275297', '-97.0789558'): 1,
 ('25.4686909', '-80.4775772'): 3,
 ('46.8244373', '-117.2091866'): 1,
 ('37.5534237', '-121.5735054'): 4,
 ('48.7208672', '-120.6694722'): 10,
 ('37.2863457', '-97.8133392'): 1,
 ('28.9097983', '-97.5023746'): 2,
 ('60.1127765', '-149.398613'): 4,
 ('29.95041', '-96.25579'): 1,
 ('37.250759', '-122.3110485'): 4,
 ('44.0051', '-122.9631'): 7,
 ('36.6175679', '-118.6977052'): 4,
 ('40.044253', '-105.1867721'): 11,
 ('48.8859802', '-118.5969583'): 1,
 ('39.3038857', '-123.7743652'): 3,
 ('40.466667', '-67.7'): 1,
 ('32.2212741', '-110.9281611'): 21,
 ('59.3335', '-178.3401667'): 6,
 ('31.6445404', '-110.5958462'): 21,
 ('42.34688', '-119.81294'): 2,
 ('31.7177294', '-110.1869364'): 21,
 ('36.4238249', '-115.3838789'): 3,
 ('46.8926658', '-120.796566'): 5,
 ('34.25', '-99.58333'): 1,
 ('48.82721', '-100.44542'): 1,
 ('25.9930992', '-97.1493988'): 3,
 ('31.3401517', '-110.9294492'): 21,
 ('25.77428', '-80.19367'): 3,
 ('41.1179038', '-107.1582696'): 1,
 ('45.731273', '-103.4423035'): 1,
 ('40.42477', '-105.75353'): 12,
 ('34.7678626', '-98.2882212'): 2,
 ('44.0015513', '-69.4019544'): 2,
 ('35.521761', '-101.75867'): 2,
 ('38.8904984', '-122.3169923'): 4,
 ('38.0061969', '-122.4944794'): 4,
 ('59.4513054', '-135.3035917'): 1,
 ('41.0793102', '-122.9388571'): 3,
 ('41.1798168', '-105.7175732'): 6,
 ('24.6804014', '-81.4071465'): 4,
 ('44.00178', '-72.9296'): 1,
 ('41.212128', '-124.00476'): 4,
 ('44.7427212', '-93.6159462'): 1,
 ('37.9100288', '-119.2577559'): 6,
 ('71.38083', '-156.501'): 7,
 ('58.4985736', '-134.8861542'): 4,
 ('47.1790373', '-120.5909586'): 2,
 ('36.0359891', '-106.8481923'): 3,
 ('42.3849228', '-106.7383575'): 1,
 ('39.6569444', '-105.2194444'): 11,
 ('39.9879059', '-111.6983414'): 4,
 ('48.2318198', '-121.528101'): 12,
 ('34.7549283', '-98.3172123'): 2,
 ('35.8854175', '-106.3228632'): 3,
 ('34.7250677', '-118.7277552'): 2,
 ('38.4598604', '-109.8206502'): 1,
 ('45.1893567', '-71.1912346'): 1,
 ('64.541256', '-165.406628'): 3,
 ('45.91715', '-89.24433'): 1,
 ('46.3253573', '-121.759519'): 4,
 ('40.3763669', '-105.6520844'): 12,
 ('37.2620023', '-107.0127205'): 1,
 ('43.8729007', '-74.4128036'): 1,
 ('40.5389646', '-121.6088676'): 2,
 ('42.38253', '-119.83964'): 2,
 ('33.8372351', '-117.7554989'): 7,
 ('43.7141062', '-89.2543876'): 1,
 ('40.8974897', '-102.6712704'): 1,
 ('43.9852', '-72.9372'): 1,
 ('37.3556519', '-113.1072922'): 4,
 ('48.6382262', '-121.3147902'): 10,
 ('34.8520813', '-119.1719742'): 2,
 ('60.8127808', '-148.5804749'): 5,
 ('44.3324439', '-120.8248901'): 4,
 ('28.5753263', '-80.9966826'): 1,
 ('33.6965128', '-118.0451372'): 7,
 ('48.4862966', '-114.3537712'): 2,
 ('39.7971944', '-111.8188477'): 4,
 ('40.1063058', '-105.3279233'): 11,
 ('39.4534671', '-123.8126918'): 3,
 ('42.9736526', '-70.7647414'): 7,
 ('32.4879724', '-93.745206'): 1,
 ('40.0159146', '-105.3412485'): 11,
 ('30.4128402', '-88.4078837'): 4,
 ('43.4244873', '-114.024353'): 1,
 ('42.9172122', '-115.8583832'): 1,
 ('47.912085', '-122.5265694'): 9,
 ('37.2521234', '-119.1801352'): 9,
 ('36.15399', '-95.99277'): 1,
 ('39.9006414', '-119.5539093'): 1,
 ('47.7399294', '-123.4374261'): 4,
 ('40.5055768', '-121.3536072'): 2,
 ('35.2501716', '-91.5827289'): 2,
 ('42.4430471', '-122.3146856'): 1,
 ('48.865', '-121.67'): 11,
 ('41.672752', '-87.60939'): 1,
 ('40.8538774', '-124.1329336'): 3,
 ('42.5332343', '-113.5392548'): 1,
 ('47.3497293', '-114.7606341'): 1}

# All days, B

In [93]:
engine_path = "/Volumes/seagate-storage/db/ebird_small.db"
table_name = 'ebird_small_20190328'
lifelist_filename = 'bryan-lifelist.csv'
month = 7
day = 2
padding = 184
num_spots = 5
radius_miles = 100

bryan_scores_all = chaser(
    engine_path,
    table_name,
    lifelist_filename,
    month,
    day,
    padding,
    num_spots,
    radius_miles
)

bryan_scores_all

Top spot 1: ('44.5660126', '-67.056427')
Number possible targets: 6
Most common targets: ['Atlantic Puffin', 'Manx Shearwater', "Wilson's Storm-Petrel", 'Razorbill', 'Black Guillemot', 'Great Shearwater']

Top spot 2: ('42.992209', '-70.7073972')
Number possible targets: 4
Most common targets: ["Wilson's Storm-Petrel", 'Great Shearwater', 'Roseate Tern', 'Manx Shearwater']

Top spot 3: ('42.9736526', '-70.7647414')
Number possible targets: 4
Most common targets: ["Wilson's Storm-Petrel", 'Great Shearwater', 'Roseate Tern', 'Manx Shearwater']

Top spot 4: ('42.687714', '-70.6204365')
Number possible targets: 4
Most common targets: ["Wilson's Storm-Petrel", 'Great Shearwater', 'Manx Shearwater', 'Roseate Tern']

Top spot 5: ('42.6251904', '-70.3616729')
Number possible targets: 4
Most common targets: ["Wilson's Storm-Petrel", 'Great Shearwater', 'Manx Shearwater', 'Roseate Tern']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.

{('44.5660126', '-67.056427'): 6,
 ('42.0839551', '-70.0490427'): 4,
 ('42.687714', '-70.6204365'): 4,
 ('42.6251904', '-70.3616729'): 4,
 ('43.8982326', '-69.4348598'): 1,
 ('57.4212944', '-150.1391602'): 1,
 ('42.992209', '-70.7073972'): 4,
 ('32.429324', '-80.1469607'): 1,
 ('38.3044865', '-75.1076889'): 2,
 ('70.3123202', '-148.3125114'): 2,
 ('59.5253333', '-178.4236667'): 1,
 ('41.4759174', '-82.1756744'): 1,
 ('40.8429942', '-72.4762005'): 2,
 ('37.5534237', '-121.5735054'): 1,
 ('40.466667', '-67.7'): 1,
 ('44.0893', '-123.2945'): 1,
 ('25.77428', '-80.19367'): 1,
 ('38.8904984', '-122.3169923'): 1,
 ('24.6804014', '-81.4071465'): 1,
 ('44.00178', '-72.9296'): 1,
 ('71.38083', '-156.501'): 1,
 ('43.8729007', '-74.4128036'): 1,
 ('43.9852', '-72.9372'): 1,
 ('28.5753263', '-80.9966826'): 1,
 ('42.9736526', '-70.7647414'): 4,
 ('37.2521234', '-119.1801352'): 1,
 ('40.8538774', '-124.1329336'): 1}

In [60]:
my_scores

{('42.6251904', '-70.3616729'): ['Manx Shearwater',
  "Wilson's Storm-Petrel",
  'Pomarine Jaeger',
  'Great Shearwater',
  'Northern Gannet',
  'Common Eider',
  "Cory's Shearwater",
  "Leach's Storm-Petrel",
  'Parasitic Jaeger',
  'Black-legged Kittiwake',
  'Roseate Tern',
  'Little Gull'],
 ('42.687714', '-70.6204365'): ["Cory's Shearwater",
  'Great Shearwater',
  'Parasitic Jaeger',
  "Wilson's Storm-Petrel",
  'Roseate Tern',
  'Northern Gannet',
  'Manx Shearwater',
  'Black-legged Kittiwake',
  'Atlantic Puffin',
  'Black Guillemot',
  "Leach's Storm-Petrel",
  'Little Gull',
  'Common Eider',
  'Pomarine Jaeger'],
 ('40.00081', '-69.61919'): ['Great Shearwater', "Wilson's Storm-Petrel"],
 ('60.3062623', '-172.1920681'): ['Short-tailed Shearwater',
  'Northern Fulmar',
  'Black-legged Kittiwake',
  'Glaucous Gull',
  'Crested Auklet'],
 ('40.70982', '-69.4658'): ['Manx Shearwater',
  "Cory's Shearwater",
  "Wilson's Storm-Petrel",
  'Great Shearwater',
  'Long-tailed Jaeger'],
 ('40.29131', '-69.12693'): ["Cory's Shearwater",
  "Wilson's Storm-Petrel",
  'Great Shearwater'],
 ('42.0839551', '-70.0490427'): ['Manx Shearwater',
  'Great Shearwater',
  'Northern Gannet',
  'Parasitic Jaeger',
  "Wilson's Storm-Petrel",
  "Cory's Shearwater"],
 ('40.80457', '-69.44293'): ['Manx Shearwater',
  "Wilson's Storm-Petrel",
  'Great Shearwater'],
 ('39.8751', '-69.53665'): ['Great Shearwater', "Wilson's Storm-Petrel"],
 ('39.99024', '-68.99944'): ["Wilson's Storm-Petrel",
  "Audubon's Shearwater",
  'Great Shearwater'],
 ('40.65276', '-69.35452'): ['Great Shearwater',
  'Manx Shearwater',
  'Red Phalarope',
  "Wilson's Storm-Petrel"],
 ('44.6156447', '-124.0665436'): ['Common Murre', 'Red Phalarope'],
 ('40.00742', '-68.99939'): ["Wilson's Storm-Petrel",
  "Audubon's Shearwater",
  'Great Shearwater'],
 ('41.04359', '-69.58914'): ['Great Shearwater',
  'Manx Shearwater',
  "Wilson's Storm-Petrel",
  'Parasitic Jaeger'],
 ('41.20005', '-69.68396'): ['Great Shearwater', "Wilson's Storm-Petrel"],
 ('37.1211459', '-122.3402953'): ['Buff-breasted Sandpiper'],
 ('31.5208333', '-80.2161111'): ['Sooty Tern',
  "Cory's Shearwater",
  'Bridled Tern',
  "Audubon's Shearwater"],
 ('38.5095795', '-74.7674561'): ["Wilson's Storm-Petrel",
  "Audubon's Shearwater",
  "Cory's Shearwater",
  'South Polar Skua'],
 ('31.8333333', '-80.3333333'): ['Bridled Tern'],
 ('40.30519', '-69.16241'): ["Cory's Shearwater",
  "Wilson's Storm-Petrel",
  'Great Shearwater'],
 ('40.46555', '-69.84608'): ['Great Shearwater'],
 ('40.43502', '-69.20979'): ['Great Shearwater',
  "Wilson's Storm-Petrel",
  "Cory's Shearwater"],
 ('39.93312', '-69.38759'): ["Wilson's Storm-Petrel", 'Great Shearwater'],
 ('39.4727008', '-123.8042021'): ['Buff-breasted Sandpiper',
  'Pacific Golden-Plover'],
 ('40.56525', '-69.30376'): ["Wilson's Storm-Petrel",
  'Manx Shearwater',
  'Red Phalarope'],
 ('44.104598', '-67.9150772'): ['Great Shearwater', "Wilson's Storm-Petrel"],
 ('40.6233341', '-73.5014534'): ['American Golden-Plover',
  'Saltmarsh Sparrow'],
 ('31.3', '-79.8666667'): ["Audubon's Shearwater",
  'Sooty Tern',
  'Bridled Tern'],
 ('32.4263402', '-78.9532471'): ['White-tailed Tropicbird'],
 ('48.5922568', '-123.0304022'): ['Common Murre',
  'Northwestern Crow',
  'Marbled Murrelet',
  'Rhinoceros Auklet',
  'Pacific Wren',
  'Tufted Puffin',
  'Mew Gull',
  'Parasitic Jaeger'],
 ('39.4088845', '-123.810854'): ["Vaux's Swift", 'Common Murre'],
 ('42.2594313', '-70.2831427'): ['Manx Shearwater',
  'Great Shearwater',
  'Northern Gannet',
  "Wilson's Storm-Petrel",
  'Red Phalarope'],
 ('40.84656', '-70.11282'): ["Cory's Shearwater",
  "Wilson's Storm-Petrel",
  'Manx Shearwater'],
 ('41.832863', '-124.2165756'): ['Parasitic Jaeger',
  "Vaux's Swift",
  'Cackling Goose'],
 ('19.6927852', '-155.1839535'): ['Chinese Hwamei',
  'Hawaii Elepaio',
  'Omao',
  'Japanese White-eye',
  'Apapane'],
 ('19.6482527', '-155.3710127'): ['Omao',
  'Red-billed Leiothrix',
  'Hawaii Amakihi',
  'Hawaii Akepa',
  'Akiapolaau',
  'Kalij Pheasant',
  'Hawaii Elepaio',
  'Hawaii Creeper',
  'Apapane',
  'Yellow-fronted Canary',
  'Hawaiian Hawk'],
 ('42.1019161', '-70.3320265'): ['Manx Shearwater',
  'Roseate Tern',
  'Great Shearwater',
  "Wilson's Storm-Petrel",
  "Cory's Shearwater",
  'Northern Gannet',
  'Common Eider'],
 ('42.992209', '-70.7073972'): ["Wilson's Storm-Petrel",
  'Great Shearwater',
  'Northern Gannet',
  'Parasitic Jaeger'],
 ('22.2072115', '-159.4754791'): ['Hawaiian Duck', 'Hawaiian Coot'],
 ('70.1355399', '-143.54774'): ['Glaucous Gull',
  'Common Eider',
  'American Golden-Plover',
  'Parasitic Jaeger',
  'King Eider',
  'Slaty-backed Gull',
  'Mew Gull'],
 ('70.3123202', '-148.3125114'): ['Glaucous Gull',
  'King Eider',
  'Cackling Goose',
  'Black Guillemot',
  'Parasitic Jaeger'],
 ('44.4441366', '-68.3189964'): ['Black Guillemot', 'Common Eider'],
 ('22.150861', '-159.6221217'): ['Kauai Elepaio'],
 ('40.577', '-69.94707'): ["Wilson's Storm-Petrel", 'Great Shearwater'],
 ('41.29177', '-69.80276'): ['Northern Gannet', "Wilson's Storm-Petrel"],
 ('48.2986787', '-122.7238317'): ['Mew Gull'],
 ('36.8048866', '-121.9812012'): ['Arctic Tern',
  'Pomarine Jaeger',
  "Buller's Shearwater",
  'South Polar Skua',
  'Common Murre',
  'Black-footed Albatross',
  'Pink-footed Shearwater',
  'Rhinoceros Auklet',
  'Ashy Storm-Petrel',
  'Parasitic Jaeger',
  'Long-tailed Jaeger'],
 ('21.3876751', '-157.9822954'): ['Red-crested Cardinal',
  'Common Waxbill',
  'Pacific Golden-Plover',
  'Japanese White-eye',
  'Common Myna',
  'Red-vented Bulbul',
  'Red Avadavat',
  'Chestnut Munia'],
 ('40.96149', '-70.1886'): ["Wilson's Storm-Petrel"],
 ('38.3044865', '-75.1076889'): ['Hudsonian Godwit', 'American Flamingo'],
 ('28.6089384', '-80.8048725'): ['Common Ground-Dove'],
 ('39.88641', '-69.40244'): ['Great Shearwater',
  'Band-rumped Storm-Petrel',
  "Audubon's Shearwater",
  "Wilson's Storm-Petrel"],
 ('46.9104643', '-124.1960621'): ['Long-tailed Jaeger',
  'Red Phalarope',
  "Buller's Shearwater",
  'Short-tailed Shearwater'],
 ('41.3014861', '-72.1119044'): ['Saltmarsh Sparrow'],
 ('47.6185322', '-122.4102259'): ['Common Murre'],
 ('40.69648', '-69.36254'): ['Hudsonian Godwit',
  "Wilson's Storm-Petrel",
  'Great Shearwater'],
 ('38.5180863', '-74.6466064'): ['South Polar Skua'],
 ('31.658333', '-80.4275'): ["Cory's Shearwater", 'Bridled Tern'],
 ('40.45433', '-69.2211'): ['Great Shearwater',
  "Wilson's Storm-Petrel",
  "Cory's Shearwater"],
 ('45.5231871', '-123.954277'): ['Marbled Murrelet',
  'Buff-breasted Sandpiper'],
 ('40.16605', '-69.08583'): ["Wilson's Storm-Petrel"],
 ('40.06013', '-69.09985'): ["Audubon's Shearwater"],
 ('32.7761882', '-117.2290564'): ['Fulvous Whistling-Duck',
  'Sharp-tailed Sandpiper'],
 ('41.4759174', '-82.1756744'): ['American Golden-Plover'],
 ('41.0648569', '-70.0708008'): ["Cory's Shearwater"],
 ('36.0814305', '-75.7913303'): ['Pomarine Jaeger'],
 ('33.8372351', '-117.7554989'): ['Black-chinned Hummingbird'],
 ('47.7950237', '-120.7220221'): ["Barrow's Goldeneye",
  "Townsend's Warbler",
  "Vaux's Swift"],
 ('19.6923986', '-155.1778738'): ['Chinese Hwamei',
  'Hawaii Elepaio',
  'Omao',
  'Japanese White-eye',
  'Apapane'],
 ('36.061034', '-107.9382706'): ["Virginia's Warbler", 'Scaled Quail'],
 ('41.6413891', '-83.2405672'): ['American Golden-Plover'],
 ('38.5119131', '-107.0213204'): ["MacGillivray's Warbler",
  'Black-billed Magpie'],
 ('40.3141441', '-105.404846'): ["Williamson's Sapsucker"],
 ('34.8741723', '-111.7596245'): ['Greater Roadrunner'],
 ('31.7310142', '-110.881319'): ["Bell's Vireo",
  'Bridled Titmouse',
  'Arizona Woodpecker',
  'Sulphur-bellied Flycatcher',
  'Verdin',
  "Cassin's Sparrow",
  'Mexican Jay',
  'Canyon Towhee',
  'Curve-billed Thrasher',
  'Greater Roadrunner',
  'Ladder-backed Woodpecker',
  'Canyon Wren',
  'Rock Wren',
  "Scott's Oriole",
  'Phainopepla',
  'Hepatic Tanager',
  'Varied Bunting'],
 ('26.5498192', '-99.1661596'): ['Red-billed Pigeon',
  'Groove-billed Ani',
  "Couch's Kingbird",
  'Green Jay',
  'Ladder-backed Woodpecker',
  'Golden-fronted Woodpecker'],
 ('48.1947891', '-93.8032051'): ['Black-backed Woodpecker'],
 ('39.6569444', '-105.2194444'): ['Broad-tailed Hummingbird',
  "Woodhouse's Scrub-Jay",
  'Canyon Wren',
  "Virginia's Warbler",
  'Rock Wren'],
 ('43.8405363', '-124.1726089'): ['Pink-footed Shearwater',
  'Fork-tailed Storm-Petrel'],
 ('29.4704637', '-94.6026707'): ['Scissor-tailed Flycatcher'],
 ('35.2501716', '-91.5827289'): ['Buff-breasted Sandpiper',
  'Wood Stork',
  'Scissor-tailed Flycatcher',
  'American Golden-Plover'],
 ('41.7141347', '-121.5111723'): ['Pinyon Jay',
  'Black-billed Magpie',
  "Williamson's Sapsucker",
  'Gray Flycatcher',
  'Canyon Wren',
  'Eared Grebe',
  "Lewis's Woodpecker"],
 ('39.595949', '-75.2396965'): ['Buff-breasted Sandpiper'],
 ('32.3856344', '-112.8541522'): ['Brown-crested Flycatcher',
  'Gila Woodpecker',
  'Cactus Wren'],
 ('46.7591453', '-92.0834835'): ['Buff-breasted Sandpiper'],
 ('35.66591', '-75.4799'): ['American Golden-Plover'],
 ('33.7780824', '-117.7605691'): ['Red-crowned Parrot',
  'California Gnatcatcher',
  'Cactus Wren',
  'Cinnamon Teal'],
 ('39.5447356', '-106.2420978'): ['Pine Grosbeak'],
 ('38.2611314', '-121.4084959'): ['Lazuli Bunting',
  'Black-chinned Hummingbird'],
 ('32.4295707', '-93.701118'): ['Buff-breasted Sandpiper'],
 ('28.2018', '-81.393'): ['Limpkin'],
 ('31.85591', '-106.63955'): ['Lark Bunting', 'Prairie Falcon'],
 ('47.628', '-117.53239'): ['Gray Partridge'],
 ('27.8275297', '-97.0789558'): ['Mottled Duck'],
 ('33.3771201', '-108.9071381'): ['Lazuli Bunting'],
 ('38.1519218', '-85.7329059'): ['Buff-breasted Sandpiper'],
 ('41.8375089', '-88.5121168'): ['American Golden-Plover'],
 ('32.25287', '-109.83162'): ['Cinnamon Teal', 'Chihuahuan Raven'],
 ('40.94929', '-69.50775'): ["Wilson's Storm-Petrel"],
 ('40.8429942', '-72.4762005'): ["Wilson's Storm-Petrel", 'Roseate Tern'],
 ('37.1774495', '-122.1893835'): ['Western Screech-Owl'],
 ('37.2752991', '-107.8796234'): ["Woodhouse's Scrub-Jay",
  "Lewis's Woodpecker"],
 ('33.10952', '-91.26201'): ['Wood Stork'],
 ('41.4098', '-69.9869'): ['Common Eider'],
 ('33.0959638', '-116.9994593'): ["Lawrence's Goldfinch",
  'Common Ground-Dove'],
 ('47.7890267', '-120.868578'): ["Townsend's Warbler", 'Black Swift'],
 ('31.9164362', '-109.2737471'): ['Broad-tailed Hummingbird',
  "Townsend's Warbler",
  'Yellow-eyed Junco',
  'Mexican Chickadee',
  "Virginia's Warbler"],
 ('59.4513054', '-135.3035917'): ['Varied Thrush'],
 ('40.8538774', '-124.1329336'): ['Cinnamon Teal'],
 ('40.044253', '-105.1867721'): ['Black-billed Magpie',
  'Yellow-headed Blackbird',
  'Cinnamon Teal'],
 ('25.4686909', '-80.4775772'): ['Common Myna'],
 ('27.0446212', '-99.4444013'): ["Morelet's Seedeater",
  'Olive Sparrow',
  'Common Ground-Dove',
  "Couch's Kingbird"],
 ('34.1868849', '-109.9833155'): ['Yellow-headed Blackbird',
  'Cinnamon Teal',
  "Grace's Warbler",
  "MacGillivray's Warbler"],
 ('30.1041849', '-98.8038898'): ['Ladder-backed Woodpecker'],
 ('28.5353697', '-96.9097137'): ['Cave Swallow', 'Wood Stork'],
 ('19.6444889', '-155.3237092'): ['Japanese White-eye',
  'Omao',
  'Hawaii Elepaio'],
 ('28.5753263', '-80.9966826'): ['Mottled Duck',
  'Limpkin',
  'Common Ground-Dove'],
 ('37.4752157', '-94.6981841'): ['Scissor-tailed Flycatcher'],
 ('26.55474', '-97.42496'): ['Pyrrhuloxia', 'Cave Swallow'],
 ('40.429675', '-91.5547167'): ["Bell's Vireo"],
 ('38.2289099', '-122.5980878'): ['Pacific Golden-Plover', "Ridgway's Rail"],
 ('21.3988971', '-157.7986908'): ['Java Sparrow',
  'Hawaiian Coot',
  'Japanese White-eye',
  'Pacific Golden-Plover',
  'Great Frigatebird',
  'Red-vented Bulbul',
  'Black Noddy'],
 ('29.4241295', '-98.4935913'): ['Inca Dove',
  'Golden-fronted Woodpecker',
  'Scissor-tailed Flycatcher',
  'Buff-breasted Sandpiper'],
 ('37.8948386', '-122.5017214'): ["Ridgway's Rail"],
 ('26.8812473', '-99.2507401'): ['Pyrrhuloxia'],
 ('19.9682847', '-155.3212906'): ['Apapane',
  'Hawaii Elepaio',
  'Omao',
  'Red-billed Leiothrix'],
 ('46.1699049', '-107.3214483'): ['Black-billed Magpie'],
 ('29.95041', '-96.25579'): ['Inca Dove', 'Wood Stork'],
 ('46.0625', '-93.05112'): ['Clay-colored Sparrow'],
 ('45.1893567', '-71.1912346'): ['Black-backed Woodpecker'],
 ('35.0691344', '-118.176198'): ['Red-breasted Sapsucker',
  "Lawrence's Goldfinch",
  "MacGillivray's Warbler"],
 ('34.6755962', '-98.615942'): ['Rock Wren', 'Black-capped Vireo'],
 ('39.0811212', '-77.4389849'): ['American Golden-Plover'],
 ('34.775143', '-105.544754'): ['Pinyon Jay', "Cassin's Sparrow"],
 ('36.6252236', '-121.9317888'): ["Townsend's Warbler"],
 ('40.6264861', '-73.4784293'): ['American Golden-Plover',
  'Saltmarsh Sparrow'],
 ('47.6232605', '-119.4848585'): ['Eared Grebe', 'Cinnamon Teal'],
 ('45.2253372', '-90.853672'): ['Clay-colored Sparrow'],
 ('26.27156', '-81.43111'): ['Common Ground-Dove'],
 ('39.92373', '-69.00208'): ["Wilson's Storm-Petrel"],
 ('34.3770694', '-118.4681726'): ["Costa's Hummingbird", 'Phainopepla'],
 ('34.3930006', '-119.5140259'): ["MacGillivray's Warbler"],
 ('41.7960139', '-87.5765064'): ['Connecticut Warbler'],
 ('44.1291227', '-121.3307548'): ['Black-billed Magpie',
  "MacGillivray's Warbler"],
 ('47.3612693', '-116.7396069'): ["MacGillivray's Warbler"],
 ('38.5838177', '-121.6354752'): ["MacGillivray's Warbler", 'Lazuli Bunting'],
 ('30.7214731', '-92.348671'): ['Fulvous Whistling-Duck'],
 ('31.5427632', '-110.1337928'): ['Mexican Duck',
  'Black-throated Sparrow',
  "Cassin's Sparrow",
  "Lucy's Warbler",
  'Lazuli Bunting',
  'Gray Hawk',
  'Tropical Kingbird'],
 ('32.4170301', '-110.7250857'): ["Cassin's Vireo",
  'Broad-tailed Hummingbird',
  'Arizona Woodpecker',
  "Rivoli's Hummingbird"],
 ('41.212128', '-124.00476'): ['Marbled Murrelet', 'Pacific Wren'],
 ('34.3963633', '-106.8910555'): ['Lark Bunting'],
 ('33.07391', '-106.71396'): ['Black-chinned Sparrow',
  "Scott's Oriole",
  'Pinyon Jay',
  'Rock Wren'],
 ('41.505492', '-71.0532188'): ['Roseate Tern'],
 ('32.9927552', '-115.5427408'): ['Black-chinned Hummingbird'],
 ('32.4879724', '-93.745206'): ['Inca Dove'],
 ('42.3803902', '-72.5231323'): ['American Golden-Plover'],
 ('26.7294962', '-81.8611339'): ['Common Ground-Dove'],
 ('45.91715', '-89.24433'): ['Northern Goshawk'],
 ('38.0156401', '-76.1407471'): ['Buff-breasted Sandpiper'],
 ('39.3256948', '-121.7722893'): ["MacGillivray's Warbler"],
 ('58.5225682', '-134.8283815'): ['Mew Gull'],
 ('40.7933617', '-77.8600235'): ['Buff-breasted Sandpiper'],
 ('27.302613', '-80.3727579'): ['Mottled Duck']}

# Entire DB

In [ ]:
assert(False) # Stop kernel from getting to here if "run all cells" is accidentally selected :P

In [ ]:
# File to read from & number of lines to read
#data_file = '/Volumes/seagate-storage/code/ebird_data/medium_dataset.txt']
large_data_file = '/Volumes/seagate-storage/code/ebird_data/ebd_relJan-2019.txt'

# Which columns to use
desired_cols = desired_cols_chaser
                          
# Of columns, which are dates?
date_cols = ['OBSERVATION DATE']

# Chunk size to read through data_file
chunk_size = 100000

# Desired path for SQLITE db; if does not exist, will be created
engine_path = "/Volumes/seagate-storage/db/ebird_chaser.db"

# Name of SQL table
table_name = 'ebird_small_20190328'

# How many chunks to print after
# Should print ~11 times, once every 50*100000 = 50000000 lines
X = 50

engine = process_data(
    engine_path,
    large_data_file,
    desired_cols,
    date_cols,
    chunk_size,
    table_name,
    X
)

# Next steps
* Test amount of time for each type of access of dataset/pandas usage/etc
* Store entire DB (or just USA, Canada?)
* Do chaser

In [ ]:
def process_data(
    engine_path,
    data_path,
    desired_cols,
    date_cols,
    chunk_size,
    table_name,
    X,
    delete_old_table = True
):
    t0 = time()
    
    engine = create_engine('sqlite:///' + engine_path)
    # If database doesn't already exist, make a new engine
    if not database_exists(engine.url):
        create_database(engine.url)
    # Otherwise, make sure the engine is clear
    # Note that it's MUCH faster to delete this from filesystem directly
    elif delete_old_table:
        meta = MetaData(engine)
        meta.reflect() # Find all tables
        # Only drop the table we're trying to refill
        for tbl in reversed(meta.sorted_tables):
            if tbl.name == table_name:
                engine.execute(tbl.delete())
                print(f'Dropped table {table_name}')
        
    t1 = time()
    
    lines_saved_to_db = 0
    counter = 0

    for chunk in pd.read_csv(
        filepath_or_buffer = data_path, 
        sep = '\t',
        usecols = desired_cols.keys(),
        parse_dates = date_cols, 
        chunksize = chunk_size,
        dtype = desired_cols,
        na_values = ['X']
    ):

        chunk.to_sql(
            name = table_name,
            con = engine,
            if_exists = 'append'
        )

        # Print info every X iterations
        # i.e., every chunk_size * X lines
        lines_saved_to_db += chunk.shape[0]
        if (not counter % X):
            print(f"Iteration {counter}:")
            print(f"  Lines saved to DB: {lines_saved_to_db}") #Helpful for only saving year data
            print(f"  Minutes elapsed: {(time()-t1)/60}\n")
        counter += 1

    db_time = (time()-t1)/60
    total_time = (time()-t0)/60
    estimated_time = ((total_time-db_time) +  (577335302/lines_saved_to_db)*db_time)/60
    print(f"Total iterations: {counter}")
    print(f"Total lines saved to DB: {lines_saved_to_db}") #Helpful for only saving year data
    print(f"Minutes elapsed during DB functions: {db_time}")
    print(f"Total minutes elapsed: {total_time}")
    print(f"Estimated time for all lines: {estimated_time} hours")
    return engine
            
engine = process_data(
    engine_path,
    data_file,
    desired_cols,
    date_cols,
    chunk_size,
    table_name,
    X
)

### Old code that might help with next steps

In [ ]:
num_lines = 577335302 #from previous analysis
chunk_size = 1000000 # number of lines to read at once
num_chunks = 3 # number of chunks to test on

In [ ]:
the_cols = [
        'Last edited date', 
        'category', 
        'common name', 
        'scientific name', 
        'observation count', 
        'country', 
        'state', 
        'latitude', 
        'longitude', 
        'observation date', 
        'observer id', 
        'protocol type',
        'ALL SPECIES REPORTED',
]

desired_cols = [item.upper() for item in the_cols]
desired_cols

In [ ]:
just_byemeh = pd.DataFrame({'hi':[0, 1, 2], 'bye':[8, 9, 9], 'meh':[42, 42, 20]}, index=[0, 1, 2])[['bye', 'meh']]
just_byemeh.loc[just_byemeh['meh'] == 42]

just_byemeh.loc[
    (just_byemeh['meh'] == 42) & 
    (just_byemeh['bye'] == 9)]

In [ ]:

def save_to_db(chunk, table_name, engine):
    '''
    Process & save data from chunk
    
    Processes data to identify
    
    Inputs:
        chunk: a dataframe to save
        table_name:
        engine: SQLAlchemy connection to use
    '''

    
    # For using only 2018 data:
    #only_2018 = chunk.loc[
    #    (chunk['LAST EDITED DATE'].dt.year == 2018) &
    #    (chunk['OBSERVATION DATE'].dt.year == 2018)]
    #if only_2018.shape[0]: # if this DF has anything in it (i.e. any 2018 records)
    #    only_2018.to_sql('ebird_data_2018', engine, if_exists='append')
    #return only_2018

engine = create_engine("sqlite:////Volumes/seagate-storage/db/ebird_2018.db")
if not database_exists(engine.url):
    create_database(engine.url)
    
    
    
the_cols = [
        'Last edited date', 
        'category', 
        'common name', 
        'scientific name', 
        'observation count', 
        'country', 
        'state', 
        'latitude', 
        'longitude', 
        'observation date', 
        'observer id', 
        'protocol type',
        'ALL SPECIES REPORTED',
]

desired_cols = [item.upper() for item in the_cols]
desired_cols


data_file = '/Volumes/seagate-storage/code/evil_project/example_dataset.txt' #'/Volumes/seagate-storage/code/ebird_data/ebd_relJan-2019.txt'


num_lines = 577335302 #from previous analysis
chunk_size = 1000000 # number of lines to read at once


def process(chunk):
    
    only_2018 = chunk.loc[
        (chunk['LAST EDITED DATE'].dt.year == 2018) &
        (chunk['OBSERVATION DATE'].dt.year == 2018)]
    
    if only_2018.shape[0]: # if this DF has anything in it
        only_2018.to_sql('ebird_data_2018', engine, if_exists='append')

    return only_2018

t1 = time.time()

lines_saved_to_db = 0
counter = 0

for chunk in pd.read_csv(
    data_file, 
    sep='\t', 
    #index_col = ['SAMPLING EVENT IDENTIFIER'],
    usecols = desired_cols,
    parse_dates = ['LAST EDITED DATE', 'OBSERVATION DATE'], 
    chunksize=chunk_size):
    
    '''
    '''
    
    finished_chunk = process(chunk)
    lines_saved_to_db += finished_chunk.shape[0]

    if not counter % 100:
        print(f"Iteration {counter}:")
        print(f"  Lines saved to DB: {lines_saved_to_db}")
        print(f"  Minutes elapsed: {(time.time()-t1)/60}")
    counter += 1
    
    
t2 = time.time()

process_time = t2-t1
print('Time to process rows:', process_time)

#est_time = (num_lines/(chunk_size*num_chunks))*process_time
#print('Estimated time (seconds) for all rows:', est_time)

Reading the whole DF:

```
chunk_size = 1000000 # number of lines to read at once
num_chunks = 3 # number of chunks to test on

(1000000, 46)
(1000000, 46)
(1000000, 46)
Time to process 3 rows: 23.173866748809814
Estimated time for all rows: 4459.697119310624


---

chunk_size = 3000000 # number of lines to read at once
num_chunks = 1 # number of chunks to test on

(3000000, 46)
Time to process rows: 23.521601915359497
Estimated time (seconds) for all rows: 4526.6170484426175

---

chunk_size = 500000 # number of lines to read at once
num_chunks = 6 # number of chunks to test on

(500000, 46)
(500000, 46)
(500000, 46)
(500000, 46)
(500000, 46)
(500000, 46)
Time to process rows: 24.359390020370483
Estimated time (seconds) for all rows: 4687.845264648793
```

Reading only desired columns, with `parse_dates`
```
(500000, 12)
(500000, 12)
(500000, 12)
(500000, 12)
(500000, 12)
(500000, 12)
Time to process rows: 13.444914102554321
Estimated time (seconds) for all rows: 2587.407847920753
```

Reading only desired columns, without `parse_dates`:

```
(500000, 12)
(500000, 12)
(500000, 12)
(500000, 12)
(500000, 12)
(500000, 12)
Time to process rows: 11.651726961135864
Estimated time (seconds) for all rows: 2242.3177679763053
```

In [ ]:
pd.read_csv(small_data_file, sep='\t').to_sql('test_ebird_data', engine)

In [ ]:
import pandas as pd
small_data_file = '/Volumes/seagate-storage/code/ebird_data/test_dataset.txt'
pd.read_csv(small_data_file, sep='\t').to_sql('test_ebird_data', engine)

# Clean up data

In [ ]:
import time
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pandas as pd
from functools import wraps
from time import time

In [ ]:
small_db = pd.read_sql('test_ebird_data',con=engine)

In [ ]:
small_db.columns

### Keep only the needed columns

In [ ]:
def timing(f):
    @wraps(f)
    def wrap(*args, **kw):
        ts = time()
        result = f(*args, **kw)
        te = time()
        print('func took: {} sec'.format(te-ts))
        return result
    return wrap


def process_chunk(chunk_df):
    new_df = chunk_df[['COMMON NAME','LATITUDE', 'LONGITUDE', 'OBSERVATION DATE']]
    new_df.to_sql('med_occ', medium_engine, if_exists='append')

@timing
def process_all_data(engine_path, data_path):
    engine = create_engine('sqlite:///'+engine_path)
    for chunk in pd.read_csv(data_path, sep='\t', chunksize=100):
        process_chunk(chunk)


process_all_data(
    engine_path='/Volumes/seagate-storage/db/large_ebird.db', 
    data_path='/Volumes/seagate-storage/code/ebird_data/large_dataset.txt')

In [ ]:
small_database = database[['COMMON NAME','LATITUDE', 'LONGITUDE', 'OBSERVATION DATE']]
small_database