In [1]:
import csv
import pandas as pd
import numpy as np
from vincenty import vincenty

# Import our data

get useful info from ebird csv

In [2]:
rough_df = pd.DataFrame.from_csv('MyEBirdData3.csv', index_col=None)
rough_df['Location'] = rough_df.apply(lambda row: (row['Latitude'], row['Longitude']), axis=1)
fine_df = rough_df[['Submission ID', 'Common Name', 'Count', 'Location', 'Date']]
fine_df

,Submission ID,Common Name,Count,Location,Date
0,S37335810,Black-bellied Whistling-Duck,3,"(26.022082, -97.510919)",06-02-2017
1,S37351021,Black-bellied Whistling-Duck,9,"(26.137485899999998, -97.1735573)",06-03-2017
2,S37374846,Black-bellied Whistling-Duck,4,"(26.140091199999997, -97.1748233)",06-04-2017
3,S37403270,Black-bellied Whistling-Duck,3,"(26.140091199999997, -97.1748233)",06-05-2017
4,S32402100,Black-bellied Whistling-Duck,8,"(26.187509, -97.689038)",11-04-2016
5,S39452117,Black-bellied Whistling-Duck,5,"(30.409033, -91.1761025)",09-29-2017
6,S39205747,Black-bellied Whistling-Duck,17,"(30.408501, -91.172635)",09-16-2017
7,S39436325,Black-bellied Whistling-Duck,16,"(30.408501, -91.172635)",09-28-2017
8,S40010884,Black-bellied Whistling-Duck,2,"(30.408501, -91.172635)",10-19-2017
9,S32382837,Black-bellied Whistling-Duck,52,"(26.126030399999998, -97.9559173)",11-05-2016
10,S32865313,Black-bellied Whistling-Duck,1,"(26.7876524, -97.7707243)",11-04-2016
11,S37333668,Black-bellied Whistling-Duck,35,"(27.622467999999998, -97.776543)",06-02-2017
12,S37333375,Black-bellied Whistling-Duck,2,"(27.779571999999998, -97.661536)",06-02-2017
13,S19376127,Black-bellied Whistling-Duck,57,"(31.4724011, -110.9867749)",08-08-2014
14,S39781123,Black-bellied Whistling-Duck,15,"(30.34843, -90.06126)",10-08-2017
15,S23593592,Black-bellied Whistling-Duck,1,"(38.121593299999994, -98.49037170000001)",05-23-2015
16,S40178440,Black-bellied Whistling-Duck,20,"(29.4835771, -90.6985438)",10-28-2017
17,S32382837,Fulvous Whistling-Duck,2,"(26.126030399999998, -97.9559173)",11-05-2016
18,S36950958,Snow Goose,1,"(38.463420299999996, -98.6551076)",05-17-2017
19,S34949097,Snow Goose,150,"(39.6087757, -94.0406454)",03-04-2017
20,S21429011,Snow Goose,5000,"(39.398638, -94.532882)",01-19-2015
21,S21884074,Snow Goose,1000,"(39.398638, -94.532882)",02-15-2015
22,S26700904,Snow Goose,1,"(39.2306038, -94.3923202)",01-05-2016
23,S14099884,Snow Goose,850,"(39.25133710000001, -94.4367209)",02-16-2009
24,S13336167,Snow Goose,821,"(39.25133710000001, -94.4367209)",03-09-2013
25,S33643267,Snow Goose,8000,"(39.25133710000001, -94.4367209)",01-13-2017
26,S33881891,Snow Goose,895,"(39.283559600000004, -94.4340563)",01-20-2017
27,S13017109,Snow Goose,959,"(39.249902299999995, -94.39508909999999)",02-17-2013
28,S12680269,Snow Goose,5000,"(39.406191799999995, -94.554096)",01-21-2013
29,S16503294,Snow Goose,X,"(39.4029606, -94.5407438)",01-25-2014
...,...,...,...,...,...
19844,S37310157,House Sparrow,2,"(37.676668, -97.194334)",06-01-2017
19845,S30658051,House Sparrow,10,"(42.8790775, -76.794498)",07-09-2016
19846,S30658050,House Sparrow,3,"(42.882927, -76.745173)",07-09-2016
19847,S30671215,House Sparrow,2,"(42.9669441, -76.7409772)",07-09-2016
19848,S12654455,House Sparrow,5,"(41.7613134, -95.457706)",06-19-2011
19849,S37214944,House Sparrow,7,"(41.7613134, -95.457706)",05-28-2017
19850,S37221717,House Sparrow,4,"(41.7613134, -95.457706)",05-28-2017
19851,S37230101,House Sparrow,5,"(41.7613134, -95.457706)",05-29-2017
19852,S30929931,House Sparrow,4,"(47.947275299999994, -122.3064784)",07-30-2016
19853,S22599369,House Sparrow,2,"(37.901881, -93.99305820000001)",03-30-2015
19854,S39781128,House Sparrow,5,"(30.2167328, -89.78642109999998)",10-08-2017
19855,S39781137,House Sparrow,1,"(30.223549300000002, -89.8185968)",10-08-2017
19856,S24581748,House Sparrow,X,"(38.752269299999995, -75.08938409999999)",08-06-2015
19857,S14457487,House Sparrow,5,"(43.5922602, -110.8302632)",06-19-2013
19858,S33198482,House Sparrow,8,"(35.0436301, -80.6664705)",12-25-2016
19859,S30584110,House Sparrow,8,"(42.21188, -83.35047)",07-07-2016
19860,S26530514,House Sparrow,3,"(42.2444835, -89.11227459999999)",12-30-2015
19861,S38259726,House Sparrow,8,"(42.515164, -77.1323276)",07-22-2017
19862,S33193772,House Sparrow,1,"(35.093886, -80.934824)",12-25-2016
19863,S21426739,Eurasian Tree Sparrow,1,"(38.668699600000004, -94.4912302)",01-18-2015
19864,S23252531,passerine sp.,4,"(39.25133710000001, -94.4367209)",05-05-2015
19865,S24433032,passerine sp.,10,"(39.25133710000001, -94.4367209)",05-15-2015
19866,S24993175,passerine sp.,1,"(39.25133710000001, -94.4367209)",09-12-2015
19867,S25087937,passerine sp.,5,"(39.25133710000001, -94.4367209)",09-18-2015
19868,S39267593,passerine sp.,1,"(30.408501, -91.172635)",09-19-2017
19869,S36950991,passerine sp.,1,"(38.8255165, -98.131755)",05-17-2017
19870,S36950905,passerine sp.,2,"(38.2057124, -98.5575235)",05-17-2017
19871,S36950895,passerine sp.,1,"(38.1752039, -98.49221709999999)",05-17-2017
19872,S21006181,passerine sp.,1,"(24.322643, -75.4733866)",12-24-2014
19873,S38280876,bird sp.,2,"(44.368364, -73.90166040000001)",07-23-2017

# Modify dataframe

## Small test

### Create a small test DF

In [3]:
small_df = fine_df.loc[[0, 1, 25, 500, 501]]
small_df.reset_index(drop=True, inplace=True) # Drop current index (don't incorporate into DF)
small_df

,Submission ID,Common Name,Count,Location,Date
0,S37335810,Black-bellied Whistling-Duck,3,"(26.022082, -97.510919)",06-02-2017
1,S37351021,Black-bellied Whistling-Duck,9,"(26.137485899999998, -97.1735573)",06-03-2017
2,S33643267,Snow Goose,8000,"(39.25133710000001, -94.4367209)",01-13-2017
3,S18697501,Blue-winged Teal,X,"(40.068893, -95.23534000000001)",05-17-2014
4,S22478416,Blue-winged Teal,200,"(40.068893, -95.23534000000001)",03-22-2015

### Replace "X"s with NaNs

In [31]:
no_x_df = small_df.replace(to_replace='X', value=1)
no_x_df['Count'] = pd.to_numeric(no_x_df['Count']) #Coerce 1s from strs to numeric
no_x_df

,Submission ID,Common Name,Count,Location,Date
0,S37335810,Black-bellied Whistling-Duck,3,"(26.022082, -97.510919)",06-02-2017
1,S37351021,Black-bellied Whistling-Duck,9,"(26.137485899999998, -97.1735573)",06-03-2017
2,S33643267,Snow Goose,8000,"(39.25133710000001, -94.4367209)",01-13-2017
3,S18697501,Blue-winged Teal,1,"(40.068893, -95.23534000000001)",05-17-2014
4,S22478416,Blue-winged Teal,200,"(40.068893, -95.23534000000001)",03-22-2015

## Full-scale

In [5]:
fine_df.reset_index(drop=True, inplace=True) # Drop current index (don't incorporate into DF)
fine_df = fine_df.replace(to_replace='X', value=1)
fine_df['Count'] = pd.to_numeric(fine_df['Count']) #Coerce 1s from strs to numeric
fine_df

,Submission ID,Common Name,Count,Location,Date
0,S37335810,Black-bellied Whistling-Duck,3,"(26.022082, -97.510919)",06-02-2017
1,S37351021,Black-bellied Whistling-Duck,9,"(26.137485899999998, -97.1735573)",06-03-2017
2,S37374846,Black-bellied Whistling-Duck,4,"(26.140091199999997, -97.1748233)",06-04-2017
3,S37403270,Black-bellied Whistling-Duck,3,"(26.140091199999997, -97.1748233)",06-05-2017
4,S32402100,Black-bellied Whistling-Duck,8,"(26.187509, -97.689038)",11-04-2016
5,S39452117,Black-bellied Whistling-Duck,5,"(30.409033, -91.1761025)",09-29-2017
6,S39205747,Black-bellied Whistling-Duck,17,"(30.408501, -91.172635)",09-16-2017
7,S39436325,Black-bellied Whistling-Duck,16,"(30.408501, -91.172635)",09-28-2017
8,S40010884,Black-bellied Whistling-Duck,2,"(30.408501, -91.172635)",10-19-2017
9,S32382837,Black-bellied Whistling-Duck,52,"(26.126030399999998, -97.9559173)",11-05-2016
10,S32865313,Black-bellied Whistling-Duck,1,"(26.7876524, -97.7707243)",11-04-2016
11,S37333668,Black-bellied Whistling-Duck,35,"(27.622467999999998, -97.776543)",06-02-2017
12,S37333375,Black-bellied Whistling-Duck,2,"(27.779571999999998, -97.661536)",06-02-2017
13,S19376127,Black-bellied Whistling-Duck,57,"(31.4724011, -110.9867749)",08-08-2014
14,S39781123,Black-bellied Whistling-Duck,15,"(30.34843, -90.06126)",10-08-2017
15,S23593592,Black-bellied Whistling-Duck,1,"(38.121593299999994, -98.49037170000001)",05-23-2015
16,S40178440,Black-bellied Whistling-Duck,20,"(29.4835771, -90.6985438)",10-28-2017
17,S32382837,Fulvous Whistling-Duck,2,"(26.126030399999998, -97.9559173)",11-05-2016
18,S36950958,Snow Goose,1,"(38.463420299999996, -98.6551076)",05-17-2017
19,S34949097,Snow Goose,150,"(39.6087757, -94.0406454)",03-04-2017
20,S21429011,Snow Goose,5000,"(39.398638, -94.532882)",01-19-2015
21,S21884074,Snow Goose,1000,"(39.398638, -94.532882)",02-15-2015
22,S26700904,Snow Goose,1,"(39.2306038, -94.3923202)",01-05-2016
23,S14099884,Snow Goose,850,"(39.25133710000001, -94.4367209)",02-16-2009
24,S13336167,Snow Goose,821,"(39.25133710000001, -94.4367209)",03-09-2013
25,S33643267,Snow Goose,8000,"(39.25133710000001, -94.4367209)",01-13-2017
26,S33881891,Snow Goose,895,"(39.283559600000004, -94.4340563)",01-20-2017
27,S13017109,Snow Goose,959,"(39.249902299999995, -94.39508909999999)",02-17-2013
28,S12680269,Snow Goose,5000,"(39.406191799999995, -94.554096)",01-21-2013
29,S16503294,Snow Goose,1,"(39.4029606, -94.5407438)",01-25-2014
...,...,...,...,...,...
19844,S37310157,House Sparrow,2,"(37.676668, -97.194334)",06-01-2017
19845,S30658051,House Sparrow,10,"(42.8790775, -76.794498)",07-09-2016
19846,S30658050,House Sparrow,3,"(42.882927, -76.745173)",07-09-2016
19847,S30671215,House Sparrow,2,"(42.9669441, -76.7409772)",07-09-2016
19848,S12654455,House Sparrow,5,"(41.7613134, -95.457706)",06-19-2011
19849,S37214944,House Sparrow,7,"(41.7613134, -95.457706)",05-28-2017
19850,S37221717,House Sparrow,4,"(41.7613134, -95.457706)",05-28-2017
19851,S37230101,House Sparrow,5,"(41.7613134, -95.457706)",05-29-2017
19852,S30929931,House Sparrow,4,"(47.947275299999994, -122.3064784)",07-30-2016
19853,S22599369,House Sparrow,2,"(37.901881, -93.99305820000001)",03-30-2015
19854,S39781128,House Sparrow,5,"(30.2167328, -89.78642109999998)",10-08-2017
19855,S39781137,House Sparrow,1,"(30.223549300000002, -89.8185968)",10-08-2017
19856,S24581748,House Sparrow,1,"(38.752269299999995, -75.08938409999999)",08-06-2015
19857,S14457487,House Sparrow,5,"(43.5922602, -110.8302632)",06-19-2013
19858,S33198482,House Sparrow,8,"(35.0436301, -80.6664705)",12-25-2016
19859,S30584110,House Sparrow,8,"(42.21188, -83.35047)",07-07-2016
19860,S26530514,House Sparrow,3,"(42.2444835, -89.11227459999999)",12-30-2015
19861,S38259726,House Sparrow,8,"(42.515164, -77.1323276)",07-22-2017
19862,S33193772,House Sparrow,1,"(35.093886, -80.934824)",12-25-2016
19863,S21426739,Eurasian Tree Sparrow,1,"(38.668699600000004, -94.4912302)",01-18-2015
19864,S23252531,passerine sp.,4,"(39.25133710000001, -94.4367209)",05-05-2015
19865,S24433032,passerine sp.,10,"(39.25133710000001, -94.4367209)",05-15-2015
19866,S24993175,passerine sp.,1,"(39.25133710000001, -94.4367209)",09-12-2015
19867,S25087937,passerine sp.,5,"(39.25133710000001, -94.4367209)",09-18-2015
19868,S39267593,passerine sp.,1,"(30.408501, -91.172635)",09-19-2017
19869,S36950991,passerine sp.,1,"(38.8255165, -98.131755)",05-17-2017
19870,S36950905,passerine sp.,2,"(38.2057124, -98.5575235)",05-17-2017
19871,S36950895,passerine sp.,1,"(38.1752039, -98.49221709999999)",05-17-2017
19872,S21006181,passerine sp.,1,"(24.322643, -75.4733866)",12-24-2014
19873,S38280876,bird sp.,2,"(44.368364, -73.90166040000001)",07-23-2017

# Create a pivot table

## Small example

In [6]:
pivoted_small = no_x_df.pivot_table(values='Count',
                   columns=['Common Name', 'Location', 'Date'],
                   aggfunc=np.sum)
pivoted_small

Common Name                   Location                           Date
Black-bellied Whistling-Duck  (26.022082, -97.510919)            06-02-2017       3
                              (26.137485899999998, -97.1735573)  06-03-2017       9
Blue-winged Teal              (40.068893, -95.23534000000001)    03-22-2015     200
                                                                 05-17-2014       1
Snow Goose                    (39.25133710000001, -94.4367209)   01-13-2017    8000
dtype: int64

## Full scale

In [7]:
pivoted_df = fine_df.pivot_table(values='Count',
                   columns=['Common Name', 'Location', 'Date'],
                   aggfunc=np.sum)
pivoted_df

Common Name                  Location                                   Date
Abert's Towhee               (31.4724011, -110.9867749)                 08-08-2014     1
                             (31.5080086, -110.80229979999999)          08-08-2014     1
                             (31.528000000000002, -110.775)             08-08-2014     3
                             (31.5390131, -110.7606337)                 08-08-2014     2
                             (31.547899199999996, -110.14089969999999)  08-06-2014     8
                             (31.87029, -109.0351)                      08-02-2014     1
                             (32.1812, -110.932)                        08-09-2014     1
                             (32.2806015, -110.7303009)                 08-01-2014     1
                             (32.283798, -110.738203)                   08-01-2014     1
                             (33.3614502, -111.7339478)                 03-23-2017     7
                             (33.632515999999995, -111.75018100000001)  03-22-2017     2
                                                                        03-23-2017     5
                                                                        03-24-2017     9
Acadian Flycatcher           (30.3696325, -91.1049478)                  08-16-2017     1
                                                                        10-01-2017     5
                             (31.358333299999998, -91.41666670000001)   08-13-2017     3
                             (38.342766999999995, -93.08183670000001)   05-03-2014     3
                                                                        05-03-2015     3
                                                                        05-13-2017     3
                                                                        07-03-2014     1
                             (39.076727000000005, -94.849861)           06-10-2016     1
                             (39.23322720000001, -94.3838025)           05-25-2013     1
                             (39.2670818, -75.46955109999999)           08-02-2015     3
                             (39.3878565, -94.8745823)                  05-15-2013     5
                             (39.3882117, -94.87300450000001)           05-10-2017     2
                                                                        05-12-2013     1
                                                                        05-15-2013     4
                                                                        09-03-2016     3
                             (39.40000429999999, -94.262683)            05-20-2017     1
Accipiter sp.                (30.409033, -91.1761025)                   10-29-2017     1
                                                                                      ..
warbler sp. (Parulidae sp.)  (38.908233200000005, -94.4790637)          09-09-2016     1
                             (38.961388899999996, -74.9608333)          08-04-2015     1
                             (39.0406863, -94.5753336)                  05-23-2017     3
                             (39.25133710000001, -94.4367209)           05-15-2015     1
                                                                        07-13-2016     1
                                                                        08-21-2016     1
                                                                        09-02-2016     5
                                                                        09-04-2016     5
                                                                        09-07-2015     1
                                                                        09-10-2016    25
                                                                        09-11-2015     5
                                                                        09-12-2015     5
                                                                        09-18-2015     3
                                                                        09-19-2015     5
                                                                        10-09-2015     1
                             (46.1757891, -89.3082047)                  05-10-2016     4
                             (46.8044071, -121.7210054)                 08-05-2016     1
waterfowl sp.                (38.013518499999996, -98.0136627)          05-17-2017     2
white egret sp.              (30.409033, -91.1761025)                   08-21-2017    15
                             (38.780266, -75.163034)                    08-07-2015    10
                             (38.840717, -75.258354)                    08-06-2015     6
                             (38.879079, -75.272948)                    08-03-2015     1
                             (39.5728851, -75.5811396)                  08-02-2015     4
woodpecker sp.               (38.752269299999995, -75.08938409999999)   08-03-2015     1
                             (40.1934013, -105.5238104)                 07-26-2013     1
                             (40.864199, -105.3243828)                  07-25-2013     1
                             (44.368364, -73.90166040000001)            07-23-2017     1
                             (46.1757891, -89.3082047)                  04-17-2016     1
                             (48.0535294, -122.5902557)                 08-02-2016     2
wren sp.                     (46.726321399999996, -120.82365949999999)  08-09-2016     1
dtype: int64

# Identify points around centers

In [8]:
# Create a list of all unique points to use for our centers
locs = list(fine_df['Location'])
seen = set()
seen_add = seen.add
all_points = [x for x in locs if not (x in seen or seen_add(x))]

## Small-scale test

In [9]:
test_center = all_points[0]
test_center

(26.022082, -97.510919)

In [34]:
radius_miles = 5

my_points = []
for point in all_points:
    distance = vincenty(test_center, point, miles=True)
    if distance < radius_miles:
        my_points.append(point)
        
my_points

[(26.022082, -97.510919),
 (25.9859009, -97.56199649999999),
 (26.071054500000002, -97.4693613)]

## For all points

Create a dictionary with key=center, value=list of all close points

In [19]:
radius_miles = 5

my_dict = {}
centers = all_points
for center in centers:
    close_points = []
    for point in all_points:
        distance = vincenty(center, point, miles=True)
        if distance < radius_miles:
            close_points.append(point)

    my_dict[center] = close_points

[(39.2306038, -94.3923202), (39.25133710000001, -94.4367209), (39.283559600000004, -94.4340563), (39.249902299999995, -94.39508909999999), (39.240491999999996, -94.45496240000001), (39.251194, -94.434709), (39.22660820000001, -94.3878682), (39.2645338, -94.4554871), (39.20927929999999, -94.4452572), (39.23322720000001, -94.3838025), (39.249292700000005, -94.4343324), (39.2308511, -94.38752629999999), (39.23351629999999, -94.38315870000001), (39.245025, -94.451484), (39.244521999999996, -94.486933), (39.2119724, -94.5527458), (39.247688000000004, -94.434405), (39.262057, -94.438191), (39.254134, -94.43710300000001), (39.225928, -94.468834), (39.168200399999996, -94.5050383), (39.263837, -94.445541), (39.251436, -94.441424), (39.251439000000005, -94.43744000000001), (39.2499701, -94.4389767), (39.241769, -94.456953), (39.247762, -94.44601999999999), (39.255282, -94.442065)]

# Create collapsed DF of sightings for each center

## A small example

In [32]:
no_x_df = no_x_df.set_index('Location')
no_x_df

,Submission ID,Common Name,Count,Date
Location,,,,
"(26.022082, -97.510919)",S37335810,Black-bellied Whistling-Duck,3,06-02-2017
"(26.137485899999998, -97.1735573)",S37351021,Black-bellied Whistling-Duck,9,06-03-2017
"(39.25133710000001, -94.4367209)",S33643267,Snow Goose,8000,01-13-2017
"(40.068893, -95.23534000000001)",S18697501,Blue-winged Teal,1,05-17-2014
"(40.068893, -95.23534000000001)",S22478416,Blue-winged Teal,200,03-22-2015

In [36]:
close_df = fine_df.loc[my_points]
close_df

,Submission ID,Common Name,Count,Date
Location,,,,
"(26.022082, -97.510919)",S37335810,Black-bellied Whistling-Duck,3,06-02-2017
"(26.022082, -97.510919)",S37335810,nighthawk sp.,2,06-02-2017
"(26.022082, -97.510919)",S37335810,Tropical/Couch's Kingbird,1,06-02-2017
"(26.022082, -97.510919)",S37335810,Scissor-tailed Flycatcher,1,06-02-2017
"(25.9859009, -97.56199649999999)",S32400061,Greater White-fronted Goose,8,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Blue-winged Teal,6,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Gadwall,3,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Mottled Duck,4,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Plain Chachalaca,12,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Least Grebe,14,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Pied-billed Grebe,1,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Double-crested Cormorant,1,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,American White Pelican,43,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,White Ibis,33,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Black Vulture,5,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Turkey Vulture,7,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Osprey (carolinensis),1,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,White-tailed Kite,2,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Harris's Hawk,1,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Laughing Gull,6,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Inca Dove,8,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Common Ground-Dove,5,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,White-tipped Dove,4,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,White-winged Dove,2,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Mourning Dove,1,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Ruby-throated Hummingbird,1,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Buff-bellied Hummingbird,2,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Golden-fronted Woodpecker,1,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Ladder-backed Woodpecker,5,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Crested Caracara,1,11-06-2016
...,...,...,...,...
"(25.9859009, -97.56199649999999)",S32400061,White-eyed Vireo,3,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Green Jay,23,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Barn Swallow,2,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Cave Swallow (Texas),15,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Black-crested Titmouse,2,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Verdin,1,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,House Wren,1,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Carolina Wren,1,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Bewick's Wren,2,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Blue-gray Gnatcatcher,7,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Ruby-crowned Kinglet,2,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Long-billed Thrasher,11,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Northern Mockingbird,4,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,American Pipit,2,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Orange-crowned Warbler,8,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Nashville Warbler,3,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Common Yellowthroat,1,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Wilson's Warbler,1,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Olive Sparrow,3,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Savannah Sparrow,4,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Lincoln's Sparrow,5,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Northern Cardinal,6,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Pyrrhuloxia,1,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Indigo Bunting,1,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Eastern Meadowlark,3,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Altamira Oriole,2,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Red-winged Blackbird,45,11-06-2016
"(25.9859009, -97.56199649999999)",S32400061,Great-tailed Grackle,12,11-06-2016
"(26.071054500000002, -97.4693613)",S17106156,Harris's Hawk,2,02-16-2014
"(26.071054500000002, -97.4693613)",S17106199,Couch's Kingbird,2,02-14-2014

In [11]:

fine_df = fine_df.set_index('Location')
close_df = fine_df.loc[close_points]
fine_df

,Submission ID,Common Name,Count,Date
Location,,,,
"(26.022082, -97.510919)",S37335810,Black-bellied Whistling-Duck,3,06-02-2017
"(26.137485899999998, -97.1735573)",S37351021,Black-bellied Whistling-Duck,9,06-03-2017
"(26.140091199999997, -97.1748233)",S37374846,Black-bellied Whistling-Duck,4,06-04-2017
"(26.140091199999997, -97.1748233)",S37403270,Black-bellied Whistling-Duck,3,06-05-2017
"(26.187509, -97.689038)",S32402100,Black-bellied Whistling-Duck,8,11-04-2016
"(30.409033, -91.1761025)",S39452117,Black-bellied Whistling-Duck,5,09-29-2017
"(30.408501, -91.172635)",S39205747,Black-bellied Whistling-Duck,17,09-16-2017
"(30.408501, -91.172635)",S39436325,Black-bellied Whistling-Duck,16,09-28-2017
"(30.408501, -91.172635)",S40010884,Black-bellied Whistling-Duck,2,10-19-2017
"(26.126030399999998, -97.9559173)",S32382837,Black-bellied Whistling-Duck,52,11-05-2016
"(26.7876524, -97.7707243)",S32865313,Black-bellied Whistling-Duck,1,11-04-2016
"(27.622467999999998, -97.776543)",S37333668,Black-bellied Whistling-Duck,35,06-02-2017
"(27.779571999999998, -97.661536)",S37333375,Black-bellied Whistling-Duck,2,06-02-2017
"(31.4724011, -110.9867749)",S19376127,Black-bellied Whistling-Duck,57,08-08-2014
"(30.34843, -90.06126)",S39781123,Black-bellied Whistling-Duck,15,10-08-2017
"(38.121593299999994, -98.49037170000001)",S23593592,Black-bellied Whistling-Duck,1,05-23-2015
"(29.4835771, -90.6985438)",S40178440,Black-bellied Whistling-Duck,20,10-28-2017
"(26.126030399999998, -97.9559173)",S32382837,Fulvous Whistling-Duck,2,11-05-2016
"(38.463420299999996, -98.6551076)",S36950958,Snow Goose,1,05-17-2017
"(39.6087757, -94.0406454)",S34949097,Snow Goose,150,03-04-2017
"(39.398638, -94.532882)",S21429011,Snow Goose,5000,01-19-2015
"(39.398638, -94.532882)",S21884074,Snow Goose,1000,02-15-2015
"(39.2306038, -94.3923202)",S26700904,Snow Goose,1,01-05-2016
"(39.25133710000001, -94.4367209)",S14099884,Snow Goose,850,02-16-2009
"(39.25133710000001, -94.4367209)",S13336167,Snow Goose,821,03-09-2013
"(39.25133710000001, -94.4367209)",S33643267,Snow Goose,8000,01-13-2017
"(39.283559600000004, -94.4340563)",S33881891,Snow Goose,895,01-20-2017
"(39.249902299999995, -94.39508909999999)",S13017109,Snow Goose,959,02-17-2013
"(39.406191799999995, -94.554096)",S12680269,Snow Goose,5000,01-21-2013
"(39.4029606, -94.5407438)",S16503294,Snow Goose,1,01-25-2014
...,...,...,...,...
"(37.676668, -97.194334)",S37310157,House Sparrow,2,06-01-2017
"(42.8790775, -76.794498)",S30658051,House Sparrow,10,07-09-2016
"(42.882927, -76.745173)",S30658050,House Sparrow,3,07-09-2016
"(42.9669441, -76.7409772)",S30671215,House Sparrow,2,07-09-2016
"(41.7613134, -95.457706)",S12654455,House Sparrow,5,06-19-2011
"(41.7613134, -95.457706)",S37214944,House Sparrow,7,05-28-2017
"(41.7613134, -95.457706)",S37221717,House Sparrow,4,05-28-2017
"(41.7613134, -95.457706)",S37230101,House Sparrow,5,05-29-2017
"(47.947275299999994, -122.3064784)",S30929931,House Sparrow,4,07-30-2016
"(37.901881, -93.99305820000001)",S22599369,House Sparrow,2,03-30-2015
"(30.2167328, -89.78642109999998)",S39781128,House Sparrow,5,10-08-2017
"(30.223549300000002, -89.8185968)",S39781137,House Sparrow,1,10-08-2017
"(38.752269299999995, -75.08938409999999)",S24581748,House Sparrow,1,08-06-2015
"(43.5922602, -110.8302632)",S14457487,House Sparrow,5,06-19-2013
"(35.0436301, -80.6664705)",S33198482,House Sparrow,8,12-25-2016
"(42.21188, -83.35047)",S30584110,House Sparrow,8,07-07-2016
"(42.2444835, -89.11227459999999)",S26530514,House Sparrow,3,12-30-2015
"(42.515164, -77.1323276)",S38259726,House Sparrow,8,07-22-2017
"(35.093886, -80.934824)",S33193772,House Sparrow,1,12-25-2016
"(38.668699600000004, -94.4912302)",S21426739,Eurasian Tree Sparrow,1,01-18-2015
"(39.25133710000001, -94.4367209)",S23252531,passerine sp.,4,05-05-2015
"(39.25133710000001, -94.4367209)",S24433032,passerine sp.,10,05-15-2015
"(39.25133710000001, -94.4367209)",S24993175,passerine sp.,1,09-12-2015
"(39.25133710000001, -94.4367209)",S25087937,passerine sp.,5,09-18-2015
"(30.408501, -91.172635)",S39267593,passerine sp.,1,09-19-2017
"(38.8255165, -98.131755)",S36950991,passerine sp.,1,05-17-2017
"(38.2057124, -98.5575235)",S36950905,passerine sp.,2,05-17-2017
"(38.1752039, -98.49221709999999)",S36950895,passerine sp.,1,05-17-2017
"(24.322643, -75.4733866)",S21006181,passerine sp.,1,12-24-2014
"(44.368364, -73.90166040000001)",S38280876,bird sp.,2,07-23-2017

In [12]:
pivoted_close_df = close_df.pivot_table(values='Count',
                   index=['Submission ID'],
                   columns='Common Name',
                   aggfunc=np.sum)
pivoted_close_df

Common Name,Altamira Oriole,American Pipit,American White Pelican,Barn Swallow,Bewick's Wren,Black Vulture,Black-bellied Whistling-Duck,Black-crested Titmouse,Blue-gray Gnatcatcher,Blue-winged Teal,...,Tropical/Couch's Kingbird,Turkey Vulture,Verdin,White Ibis,White-eyed Vireo,White-tailed Kite,White-tipped Dove,White-winged Dove,Wilson's Warbler,nighthawk sp.
Submission ID,,,,,,,,,,,,,,,,,,,,,
S17106156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S17106199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S32400061,2.0,2.0,43.0,2.0,2.0,5.0,NaN,2.0,7.0,6.0,...,NaN,7.0,1.0,33.0,3.0,2.0,4.0,2.0,1.0,NaN
S37335810,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

# Create collapsed DF

Create DF containing only the found locations

Collapse new DF into percentages

In [13]:
import csv

def main(
        source_file,
        seen_file,
        percentage,
        number_weighted,
        start_month,
        start_week,
        radius_size,
        end_month,
        end_week):

        '''
        Inputs:
                source_file: data for all sightings from location
                seen_file: data for birds already seen
                percentage: lowest allowable seen percentage on checklists
                number_weighted: should it be weighted by number of individuals seen
        '''

        # source_file includes but not limited to:
        # submission_id, common_name, count, lat, long, date
        with open(source_file, 'r') as s:
                csv.read(s)

        # Create DF from source_file:
        # lat, long, checklist_id, sp1, sp2, sp3, ..., spX

        # Identify centers

        # For each center:
                # Create new DF including only locations within radius of that center

                # Collapse new DF into percentages